// Heading mixins
// -----------------------------------------------------------------------------

@mixin heading($ff, $fz, $fw, $lh, $c, $tt, $fs) {
  font-family: $ff;
  font-size: $fz;
  font-weight: $fw;
  line-height: $lh;
  color: $c;
  text-transform: $tt;
  font-style: $fs;
}
