// Link mixins
// -----------------------------------------------------------------------------

// Link generation with states
@mixin link($c, $c-hover) {
  color: $c;
  transition: $transition-c;

  &:visited {
    color: $c;
  }

  &:hover {
    color: $c-hover;
  }

  &:active {
    color: $c;
  }
}
