// List mixins
// -----------------------------------------------------------------------------

// Reset default list styles
@mixin list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Turns list items into flex elements
@mixin list-flex() {
  @include list-reset;
  display: flex;

  > li {
    flex-grow: 1;
  }
}

// Turns list items into flex elements
// Also removes borders from last item
@mixin list-flex-last($br: $br-small solid $c-light) {
  @include list-reset;

  @media ($medium-up) {
    display: flex;
  }

  > li {
    flex-grow: 1;

    @media ($medium-up) {
      border-right: $br;
    }

    &:last-child {
      @media ($medium-up) {
        border-right: 0;
      }
    }
  }
}

// Turns list items into inline-block
@mixin list-inline($pdl: $sp-base, $pdr: $sp-base) {
  @include list-reset;

  > li {
    display: inline-block;
    padding-left: $pdl;
    padding-right: $pdr;
  }
}

// Turns list items into inline-block
// Also removes padding from first and last items
@mixin list-inline-last($pdl: $sp-base, $pdr: $sp-base) {
  @include list-reset;

  > li {
    display: inline-block;
    padding-left: $pdl;
    padding-right: $pdr;

    &:last-child {
      padding-right: 0;
    }
  }
}

// Turns list items into inline-block
// Also adds dashes "-" between list items
@mixin list-inline-dashed($pdl: $sp-base, $pdr: $sp-base) {
  @include list-reset;

  > li {
    position: relative;
    display: inline-block;
    padding-left: $pdl;
    padding-right: $pdr;

    &:before {
      content: '-';
      position: absolute;
      top: 0;
      left: -$sp-base;
    }

    &:first-child:before {
      content: none;
    }
  }
}

// Turns list items into inline-block
// Also adds pipes "|" between list items
@mixin list-inline-pipped($pdl: $sp-base, $pdr: $sp-base) {
  @include list-reset;

  > li {
    position: relative;
    display: inline-block;
    padding-left: $pdl;
    padding-right: $pdr;

    &:before {
      content: '';
      position: absolute;
      top: $sp-base;
      left: 0;
      width: 1px;
      height: $sp-small;
      background-color: $c-java;
    }

    &:first-child:before {
      content: none;
    }
  }
}
