// Pseudo shape
// -----------------------------------------------------------------------------

@mixin pseudo-arrow($wd, $ht, $bgc) {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: -$ht;
  left: 50%;
  margin-left: -($wd / 2);
  border-left: ($wd / 2) solid transparent;
  border-right: ($wd / 2) solid transparent;
  border-bottom: $ht solid $bgc;
}

@mixin pseudo-chevron($top-mu, $right-mu) {
  content: '';
  position: absolute;
  width: 9px;
  height: 6px;
  top: $sp-medium;
  right: $sp-small;
  background: url($assets-img-path + "/bg-chevron-d.svg") no-repeat center center;
  background-size: 9px 6px;

  @media ($medium-up) {
    top: $top-mu;
    right: $right-mu;
  }
}

@mixin pseudo-rectangle($wd, $ht, $bgc) {
  content: '';
  position: absolute;
  width: $wd;
  height: $ht;
  bottom: -$ht;
  left: 50%;
  margin-left: -($wd / 2);
  background-color: $bgc;
}
