// Subitem arrow
// -----------------------------------------------------------------------------

@mixin subitem-arrow($top-mu, $right-mu) {
  @include size(8px, 5px);
  content: '';
  position: absolute;
  top: $sp-medium;
  right: $sp-small;
  background: url($assets-img-path + "/icon-arrow-d.png") no-repeat center center;

  @media ($medium-up) {
    top: $top-mu;
    right: $right-mu;
  }
}
