<div class="about-values">
  <div class="wrapper">
    <div class="u-inner-small">

      <h2 class="heading2">Valores</h2>

      <div class="about-values__content">

        <div class="about-values__col-l">
          <p class="text text--fiord">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam hendrerit tortor imperdiet felis tincidunt, vitae euismod metus vulputate. Pellentesque hendrerit interdum erat, ac dictum nisl dictum at. Nam laoreet tempus mi sed euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
          <p class="text text--fiord">Etiam luctus sodales ligula a pellentesque. Nunc tristique a dolor id laoreet. Suspendisse a tortor ullamcorper, suscipit nulla at, pellentesque turpis. Nulla sem enim, sollicitudin et congue et, pretium sed ex. Nam nec lorem arcu. Morbi porttitor elit velit, eget ullamcorper elit lobortis ut. Integer porttitor id eros tempus dictum. Ut at augue mauris.</p>
        </div>

        <div class="about-values__col-r">
          <p class="text text--fiord">Etiam luctus sodales ligula a pellentesque. Nunc tristique a dolor id laoreet. Suspendisse a tortor ullamcorper, suscipit nulla at, pellentesque turpis. Nulla sem enim, sollicitudin et congue et, pretium sed ex. Nam nec lorem arcu. Morbi porttitor elit velit, eget ullamcorper elit lobortis ut. Integer porttitor id eros tempus dictum. Ut at augue mauris. Aliquam nec ipsum a ligula blandit bibendum. Curabitur dignissim pellentesque quam, a accumsan elit dignissim a. Nullam at lectus rhoncus, maximus mauris non, pharetra lectus.</p>
        </div>

      </div>

    </div>
  </div>
</div>
