<div class="about-values">
  <div class="wrapper">
    <div class="u-inner-small">

      <h2 class="heading2">{{ site.t[page.lang]about_values.heading }}</h2>

      <div class="about-values__content">

        <div class="about-values__col-l">
          <p class="text text--fiord">{{ site.t[page.lang]about_values.text_1 }}</p>
          <p class="text text--fiord">{{ site.t[page.lang]about_values.text_2 }}</p>
        </div>

        <div class="about-values__col-r">
          <p class="text text--fiord">{{ site.t[page.lang]about_values.text_3 }}</p>
        </div>

      </div>

    </div>
  </div>
</div>
