<div class="about-team">
  <div class="wrapper">
    <div class="u-inner-small">

      <div class="about-team__col-l">
        <h2 class="heading2">{{ site.t_about_team[page.lang].heading }}</h2>
        <p class="text text--fiord">{{ site.t_about_team[page.lang].text_1 }}</p>
        <p class="text text--fiord">{{ site.t_about_team[page.lang].text_2 }}</p>
      </div>

      <div class="about-team__col-r">
        <div class="is-medium-hidden">
          <img class="u-img-responsive-full" src="{{ site.baseurl }}/assets/img/about-team.png" alt="{{ site.t_about_team[page.lang].img_alt }}">
        </div>
        <div class="is-small-hidden">
          <img class="u-img-responsive-full" src="{{ site.baseurl }}/assets/img/medium-up/about-team.png" alt="{{ site.t_about_team[page.lang].img_alt }}">
        </div>
      </div>

    </div>
  </div>
</div>
