<div class="about-team">
  <div class="wrapper">
    <div class="u-inner-small">

      <div class="about-team__col-l">
        <h2 class="heading2">Equipo</h2>
        <p class="text text--fiord">Nos organizamos en cuatro áreas que trabajan orientadas a resolver los problemas del Cliente: Consultoría, Tecnología, Análisis y Operaciones.</p>
        <p class="text text--fiord">La confianza y una visión compartida con nuestros partners nos ayudan a dar servicio en  áreas complementarias a nuestra actividad y, por supuesto, nos hacen mejores.</p>
      </div>

      <div class="about-team__col-r">
        {% include icons/about-team.svg css-class="icon u-img-responsive" %}
      </div>

    </div>
  </div>
</div>
