<div class="business">
  <div class="wrapper">

    <div class="u-inner-large">
      <h2 class="heading2">Negocio y tecnología</h2>
      <p class="text text--fiord">In et labore cupidatat aute magna consequat consectetur ex. Est enim Lorem mollit eu aute ea tempor fugiat elit. Non est laborum ea proident elit reprehenderit tempor non.</p>
    </div>

    <h5 class="business__heading heading5 heading5--java">
      Hablamos los lenguajes para cubrir el "gap"<br>
      entre tecnología y marketing
    </h5>

    <div class="u-inner-medium">
      <div class="is-medium-hidden">
        {% include icons/business.svg css-class="icon icon--business" %}
      </div>
      <div class="is-small-hidden">
        {% include icons/medium-up/business.svg css-class="icon icon--business-medium-up" %}
      </div>
    </div>

  </div>
</div>
