<div class="business">

  <div class="wrapper">
    <div class="u-inner-large">
      <h2 class="heading2">{{ site.t[page.lang]business.heading }}</h2>
      <p class="text text--fiord">{{ site.t[page.lang]business.text }}</p>
    </div>
  </div>

  <h5 class="business__heading heading5 heading5--java">
    {{ site.t[page.lang]business.subheading }}
  </h5>

  <div class="wrapper">
    <div class="u-inner-medium">
      <div class="is-medium-hidden">
        <img class="u-img-responsive-full" src="{{ site.baseurl }}/assets/img/business.png" alt="{{ site.t[page.lang]business.img_alt }}">
      </div>
      <div class="is-small-hidden">
        <img class="u-img-responsive-full" src="{{ site.baseurl }}/assets/img/medium-up/business.png" alt="{{ site.t[page.lang]business.img_alt }}">
      </div>
    </div>
  </div>

</div>
