<div class="carousel is-items-3">

  <div id="carousel-item-1" class="carousel__control-operator"></div>
  <div id="carousel-item-2" class="carousel__control-operator"></div>
  <div id="carousel-item-3" class="carousel__control-operator"></div>

  <figure class="carousel__item">
    <div class="wrapper">
      <div class="u-inner-medium">
        <div class="carousel__item__col-l">
          <h2 class="heading2 heading2--light">
            Desde la estrategia<br>
            a la ejecución
          </h2>
          <p class="text text--light">Nuestra actividad se centra en las Tecnologías centradas en gestión  y análisis de la información que ayudan a mejorar la toma de decisiones  y procesos de las distintas áreas de Negocio.  Acompañamos a nuestros Clientes desde las fases iniciales del diseño de la Estrategia hasta  la Puesta en marcha del proyecto (envío de las comunicaciones o implementación de modelos…).</p>
          <a class="button button--secondary button--xxsmall" href="#">› Nosotros</a>
        </div>
        <div class="carousel__item__col-r">
          {% include icons/carousel-us.svg css-class="icon icon--carousel" %}
        </div>
      </div>
    </div>
    <a href="#carousel-item-2" class="carousel__control-secondary-r">
      {% include icons/arrow-r.svg css-class="icon icon--arrow" %}
    </a>
  </figure>

  <figure class="carousel__item">
    <div class="wrapper">
      <div class="u-inner-medium">
        <div class="carousel__item__col-l">
          <h2 class="heading2 heading2--light">
            Equipo, timing<br>
            y entregables
          </h2>
          <p class="text text--light">Nos gustan los retos y los objetivos realizados. Nos comprometemos en buscar soluciones para entregar los proyectos a tiempo y en las condiciones acordadas. Por eso, trabajamos con una orientación “agile” donde las personas están por encima de los procesos y estamos abiertos a los cambios y a la colaboración con los clientes y sus partners…</p>
          <a class="button button--secondary button--xxsmall" href="#">› Equipo</a>
        </div>
        <div class="carousel__item__col-r">
          {% include icons/carousel-team.svg css-class="icon icon--carousel" %}
        </div>
      </div>
    </div>
    <a href="#carousel-item-1" class="carousel__control-secondary-l">
      {% include icons/arrow-l.svg css-class="icon icon--arrow" %}
    </a>
    <a href="#carousel-item-3" class="carousel__control-secondary-r">
      {% include icons/arrow-r.svg css-class="icon icon--arrow" %}
    </a>
  </figure>

  <figure class="carousel__item">
    <div class="wrapper">
      <div class="u-inner-medium">
        <div class="carousel__item__col-l">
          <h2 class="heading2 heading2--light">
            Martech TMD
          </h2>
          <p class="text text--light">Lo importante no es la herramienta sino lo que consigues con ella. Sabemos qué tecnologías de marketing/ventas necesitan la mayoría  de los clientes y tenemos experiencia con algunas herramientas con las que nos sentimos a gusto. Estamos abiertos a integrar  otras herramientas para que funcionen como una gran orquesta.</p>
          <a class="button button--secondary button--xxsmall" href="#">› Soluciones</a>
        </div>
        <div class="carousel__item__col-r">
          {% include icons/carousel-solutions.svg css-class="icon icon--carousel" %}
        </div>
      </div>
    </div>
    <a href="#carousel-item-2" class="carousel__control-secondary-l">
      {% include icons/arrow-l.svg css-class="icon icon--arrow" %}
    </a>
  </figure>

  <div class="carousel__controls">
    <a href="#carousel-item-1" class="carousel__controls__control-button"></a>
    <a href="#carousel-item-2" class="carousel__controls__control-button"></a>
    <a href="#carousel-item-3" class="carousel__controls__control-button"></a>
  </div>

</div>
