<div class="contact">
  <div class="wrapper">
    <div class="u-inner-small">

      <div class="contact__header">
        <h2 class="heading2 contact__heading u-text-center">{{ site.t_contact[page.lang].heading }}</h2>
        <h3 class="heading4 u-text-center">{{ site.t_contact[page.lang].subheading }}</h3>
      </div>

      <form class="contact__content form" action="https://formspree.io/nadalsoler@gmail.com" method="POST">

        <fieldset class="form__fieldset contact__col25">

          <div class="form__group">
            <label class="form__label u-text-uppercase is-required" for="name">{{ site.t_contact[page.lang].name }}</label>
            <input class="form__field" type="text" id="name" name="name" tabindex="1" required>
          </div>

          <div class="form__group">
            <label class="form__label u-text-uppercase is-required" for="email">{{ site.t_contact[page.lang].email }}</label>
            <input class="form__field" type="email" id="email" name="_replyto" tabindex="3" required>
          </div>

          <div class="form__group">
            <label class="form__label u-text-uppercase" for="company">{{ site.t_contact[page.lang].company }}</label>
            <input class="form__field" type="text" id="company" name="company" tabindex="5">
          </div>

        </fieldset>

        <fieldset class="form__fieldset contact__col25">

          <div class="form__group">
            <label class="form__label u-text-uppercase is-required" for="surname">{{ site.t_contact[page.lang].surname }}</label>
            <input class="form__field" type="text" id="surname" name="surname" tabindex="2" required>
          </div>

          <div class="form__group">
            <label class="form__label u-text-uppercase is-required" for="phone">{{ site.t_contact[page.lang].phone }}</label>
            <input class="form__field" type="tel" id="phone" name="phone" tabindex="4" required>
          </div>

          <div class="form__group">
            <label class="form__label u-text-uppercase" for="position">{{ site.t_contact[page.lang].position }}</label>
            <input class="form__field" type="text" id="position" name="position" tabindex="6">
          </div>

        </fieldset>

        <fieldset class="form__fieldset contact__col50">

          <div class="form__group">
            <label class="form__label u-text-uppercase" for="subject">{{ site.t_contact[page.lang].subject }}</label>
            <input class="form__field" type="text" id="subject" name="_subject" tabindex="7">
          </div>

          <div class="form__group">
            <label class="form__label u-text-uppercase" for="message">{{ site.t_contact[page.lang].message }}</label>
            <textarea class="form__textarea" id="message" name="message" rows="8" cols="80" tabindex="8"></textarea>
          </div>

          <input type="hidden" id="language" name="_language" value="{{ page.lang | upcase }}">

          <div class="button-set button-set--form">
            <div class="form__group form__group--inline">
              <input class="form__checkbox" type="checkbox" id="privacy" name="privacy" value="on" tabindex="9" required>
              <label class="form__label is-required" for="privacy">
                {{ site.t_contact[page.lang].privacy_text_1 }}
                <a href="#" id="modal-trigger-privacy-form">{{ site.t_contact[page.lang].privacy_text_2 }}</a>
              </label>
            </div>
            <button type="submit" class="button button--primary button--small">{{ site.t_contact[page.lang].submit }}</button>
          </div>

        </fieldset>

      </form>

    </div>
  </div>
</div>
