{% case page.lang %}
  {% when 'ca' %}
    {% assign heading = 'Request a free consultation' %}
    {% assign subheading = 'Tell us about your business problem and we help you define it further.' %}
    {% assign name = 'Nom' %}
    {% assign surname = 'Cognoms' %}
    {% assign email = 'E-mail' %}
    {% assign phone = 'Telèfon' %}
    {% assign company = 'Empresa' %}
    {% assign position = 'Càrrec' %}
    {% assign subject = 'Assumpte' %}
    {% assign message = 'Consulta' %}
    {% assign privacy = 'He llegit i acepto la <a href="#">política de privacitat</a>' %}
    {% assign submit = 'Enviar' %}
  {% when 'en' %}
    {% assign heading = 'Request a free consultation' %}
    {% assign subheading = 'Tell us about your business problem and we help you define it further.' %}
    {% assign name = 'Name' %}
    {% assign surname = 'Surname' %}
    {% assign email = 'E-mail' %}
    {% assign phone = 'Phone' %}
    {% assign company = 'Company' %}
    {% assign position = 'Position' %}
    {% assign subject = 'Subject' %}
    {% assign message = 'Description' %}
    {% assign privacy = 'I agree with the <a href="#">privacy policy</a>' %}
    {% assign submit = 'Submit' %}
  {% else %}
    {% assign heading = 'Request a free consultation' %}
    {% assign subheading = 'Tell us about your business problem and we help you define it further.' %}
    {% assign name = 'Nombre' %}
    {% assign surname = 'Apellidos' %}
    {% assign email = 'E-mail' %}
    {% assign phone = 'Teléfono' %}
    {% assign company = 'Empresa' %}
    {% assign position = 'Cargo' %}
    {% assign subject = 'Asunto' %}
    {% assign message = 'Consulta' %}
    {% assign privacy = 'He leído y acepto la <a href="#">política de privacidad</a>' %}
    {% assign submit = 'Enviar' %}
{% endcase %}

<div class="contact">
  <div class="wrapper">
    <div class="u-inner-small">

      <div class="contact__header">
        <h2 class="heading2 contact__heading u-text-center">{{ heading }}</h2>
        <h3 class="heading4 u-text-center">{{ subheading }}</h3>
      </div>

      <form class="contact__content form" action="https://formspree.io/nadalsoler@gmail.com" method="POST">

        <fieldset class="form__fieldset contact__col25">

          <div class="form__group">
            <label class="form__label is-required" for="name">{{ name }}</label>
            <input class="form__field" type="text" id="name" name="name" tabindex="1" required>
          </div>

          <div class="form__group">
            <label class="form__label is-required" for="email">{{ email }}</label>
            <input class="form__field" type="email" id="email" name="_replyto" tabindex="3" required>
          </div>

          <div class="form__group">
            <label class="form__label" for="company">{{ company }}</label>
            <input class="form__field" type="text" id="company" name="company" tabindex="5">
          </div>

        </fieldset>

        <fieldset class="form__fieldset contact__col25">

          <div class="form__group">
            <label class="form__label is-required" for="surname">{{ surname }}</label>
            <input class="form__field" type="text" id="surname" name="surname" tabindex="2" required>
          </div>

          <div class="form__group">
            <label class="form__label is-required" for="phone">{{ phone }}</label>
            <input class="form__field" type="tel" id="phone" name="phone" tabindex="4" required>
          </div>

          <div class="form__group">
            <label class="form__label" for="position">{{ position }}</label>
            <input class="form__field" type="text" id="position" name="position" tabindex="6">
          </div>

        </fieldset>

        <fieldset class="form__fieldset contact__col50">

          <div class="form__group">
            <label class="form__label" for="subject">{{ subject }}</label>
            <input class="form__field" type="text" id="subject" name="_subject" tabindex="7">
          </div>

          <div class="form__group">
            <label class="form__label" for="message">{{ message }}</label>
            <textarea class="form__textarea" id="message" name="message" rows="8" cols="80" tabindex="8"></textarea>
          </div>

          <div class="form__group form__group--inline">
            <input class="form__checkbox" type="checkbox" id="privacy" name="privacy" value="on" tabindex="9" required>
            <label class="form__label is-required" for="privacy">{{ privacy }}</label>
          </div>

          <input type="hidden" id="language" name="_language" value="{{ page.lang | upcase }}">

          <div class="button-set button-set--r">
            <button type="submit" class="button button--primary button--small">{{ submit }}</button>
          </div>

        </fieldset>

      </form>

    </div>
  </div>
</div>
