<div class="data-journey">
  <div class="wrapper">
    <div class="u-inner-medium">

      <h2 class="heading2 data-journey__heading u-text-center">
        Data journey
        <a href="#">Servicios</a>
      </h2>

      <div class="data-journey__img is-medium-hidden">
        {% include icons/data-journey.svg css-class="icon icon--responsive" %}
      </div>

      <div class="data-journey__content">

        <div class="data-journey__col25">
          <div class="data-journey__img is-small-hidden">
            {% include icons/data-journey.svg css-class="icon icon--responsive" %}
          </div>
          <h3 class="heading3 data-journey__subheading">Datos</h3>
          <p class="text text--small text--fiord">In et labore cupidatat aute magna consequat consectetur ex. Est enim Lorem mollit eu aute ea tempor fugiat elit. Non est laborum ea proident elit reprehenderit tempor non.</p>
        </div>

        <div class="data-journey__col25">
          <div class="data-journey__img is-small-hidden">
            {% include icons/data-journey.svg css-class="icon icon--responsive" %}
          </div>
          <h3 class="heading3 data-journey__subheading">Análisis</h3>
          <p class="text text--small text--fiord">In et labore cupidatat aute magna consequat consectetur ex. Est enim Lorem mollit eu aute ea tempor fugiat elit. Non est laborum ea proident elit reprehenderit tempor non.</p>
        </div>

        <div class="data-journey__col25">
          <div class="data-journey__img is-small-hidden">
            {% include icons/data-journey.svg css-class="icon icon--responsive" %}
          </div>
          <h3 class="heading3 data-journey__subheading">Visualización</h3>
          <p class="text text--small text--fiord">In et labore cupidatat aute magna consequat consectetur ex. Est enim Lorem mollit eu aute ea tempor fugiat elit. Non est laborum ea proident elit reprehenderit tempor non.</p>
        </div>

        <div class="data-journey__col25">
          <div class="data-journey__img is-small-hidden">
            {% include icons/data-journey.svg css-class="icon icon--responsive" %}
          </div>
          <h3 class="heading3 data-journey__subheading">Acción</h3>
          <p class="text text--small text--fiord">In et labore cupidatat aute magna consequat consectetur ex. Est enim Lorem mollit eu aute ea tempor fugiat elit. Non est laborum ea proident elit reprehenderit tempor non.</p>
        </div>

      </div>

    </div>
  </div>
</div>
