<div class="data-journey">
  <div class="wrapper">
    <div class="u-inner-medium">

      <h2 class="heading2 data-journey__heading u-text-center">{{ site.t[page.lang]data_journey.heading }}</h2>

      <div class="data-journey__img is-medium-hidden">
        <img class="u-img-responsive-full" src="{{ site.baseurl }}/assets/img/data-journey.png" alt="{{ site.t[page.lang]data_journey.heading }}">
      </div>

      <div class="data-journey__content">

        <div class="data-journey__col25">
          <div class="data-journey__img is-small-hidden">
            <img class="u-img-responsive-full" src="{{ site.baseurl }}/assets/img/medium-up/data-journey-data.png" alt="{{ site.t[page.lang]data_journey.subheading_1 }}">
          </div>
          <h3 class="heading3 data-journey__subheading">{{ site.t[page.lang]data_journey.subheading_1 }}</h3>
          <p class="text text--small text--fiord">{{ site.t[page.lang]data_journey.text_1 }}</p>
          <p class="data-journey__cta">
            <a class="link link--tertiary" href="{{ site.baseurl }}/{{ site.t[page.lang]data_journey.cta_link_1 }}">› {{ site.t[page.lang]data_journey.cta_text_1 }}</a>
          </p>
        </div>

        <div class="data-journey__col25">
          <div class="data-journey__img is-small-hidden">
            <img class="u-img-responsive-full" src="{{ site.baseurl }}/assets/img/medium-up/data-journey-analysis.png" alt="{{ site.t[page.lang]data_journey.subheading_2 }}">
          </div>
          <h3 class="heading3 data-journey__subheading">{{ site.t[page.lang]data_journey.subheading_2 }}</h3>
          <p class="text text--small text--fiord">{{ site.t[page.lang]data_journey.text_2 }}</p>
          <p class="data-journey__cta">
            <a class="link link--tertiary" href="{{ site.baseurl }}/{{ site.t[page.lang]data_journey.cta_link_2 }}">› {{ site.t[page.lang]data_journey.cta_text_2 }}</a>
          </p>
        </div>

        <div class="data-journey__col25">
          <div class="data-journey__img is-small-hidden">
            <img class="u-img-responsive-full" src="{{ site.baseurl }}/assets/img/medium-up/data-journey-visualization.png" alt="{{ site.t[page.lang]data_journey.subheading_3 }}">
          </div>
          <h3 class="heading3 data-journey__subheading">{{ site.t[page.lang]data_journey.subheading_3 }}</h3>
          <p class="text text--small text--fiord">{{ site.t[page.lang]data_journey.text_3 }}</p>
          <p class="data-journey__cta">
            <a class="link link--tertiary" href="{{ site.baseurl }}/{{ site.t[page.lang]data_journey.cta_link_3 }}">› {{ site.t[page.lang]data_journey.cta_text_3 }}</a>
          </p>
        </div>

        <div class="data-journey__col25">
          <div class="data-journey__img is-small-hidden">
            <img class="u-img-responsive-full" src="{{ site.baseurl }}/assets/img/medium-up/data-journey-action.png" alt="{{ site.t[page.lang]data_journey.subheading_4 }}">
          </div>
          <h3 class="heading3 data-journey__subheading">{{ site.t[page.lang]data_journey.subheading_4 }}</h3>
          <p class="text text--small text--fiord">{{ site.t[page.lang]data_journey.text_4 }}</p>
          <p class="data-journey__cta">
            <a class="link link--tertiary" href="{{ site.baseurl }}/{{ site.t[page.lang]data_journey.cta_link_4 }}">› {{ site.t[page.lang]data_journey.cta_text_4 }}</a>
          </p>
        </div>

      </div>

    </div>
  </div>
</div>
