<div class="hero-about hero-about--values">
  <div class="wrapper">
    <div class="u-inner-medium">

      <div class="hero-about__img is-medium-hidden">
        {% comment %}{% include icons/about-values.svg css-class="icon icon--values" %}{% endcomment %}
        <img class="u-img-responsive" src="{{ "/assets/img/about-values.png" | relative_url }}" alt="Values">
      </div>

      <div class="hero-about__img is-small-hidden">
        {% comment %}{% include icons/medium-up/about-values.svg css-class="icon icon--values-medium-up" %}{% endcomment %}
        <img class="u-img-responsive" src="{{ "/assets/img/medium-up/about-values.png" | relative_url }}" alt="Values">
      </div>

    </div>
  </div>
</div>
