<ul class="nav-main u-text-uppercase">
  <li>
    <a id="nav-main-services" class="nav-main__link is-subitem" href="{{ site.baseurl }}/{{ site.t_nav_main[page.lang].link_1 }}">{{ site.t_nav_main[page.lang].text_1 }}</a>
    {% include patterns/nav-secondary-services.html %}
  </li>
  <li>
    <a id="nav-main-solutions" class="nav-main__link is-subitem" href="{{ site.baseurl }}/{{ site.t_nav_main[page.lang].link_2 }}">{{ site.t_nav_main[page.lang].text_2 }}</a>
    {% include patterns/nav-secondary-solutions.html %}
  </li>
  <li>
    <a class="nav-main__link" href="{{ site.baseurl }}/{{ site.t_nav_main[page.lang].link_3 }}">{{ site.t_nav_main[page.lang].text_3 }}</a>
  </li>
</ul>
