<ul class="nav-tertiary">
  <li>
    <a class="nav-tertiary__link" href="{{ site.baseurl }}/{{ site.t[page.lang]nav_tertiary.link_1 }}">{{ site.t[page.lang]nav_tertiary.text_1 }}</a>
  </li>
  <li>
    <a class="nav-tertiary__link" href="{{ site.baseurl }}/{{ site.t[page.lang]nav_tertiary.link_2 }}">{{ site.t[page.lang]nav_tertiary.text_2 }}</a>
  </li>
  <li>
    <a class="nav-tertiary__link" href="{{ site.baseurl }}/{{ site.t[page.lang]nav_tertiary.link_3 }}">{{ site.t[page.lang]nav_tertiary.text_3 }}</a>
  </li>
</ul>
