<ul id="nav-secondary-services" class="nav-secondary u-text-left is-medium-hidden">
  <li>
    <a class="nav-secondary__link is-subitem" href="{{ site.baseurl }}/{{ site.t_nav_secondary_services[page.lang].link_1 }}">{{ site.t_nav_secondary_services[page.lang].text_1 }}</a>
    {% include patterns/nav-tertiary.html %}
  </li>
  <li>
    <a class="nav-secondary__link" href="{{ site.baseurl }}/{{ site.t_nav_secondary_services[page.lang].link_2 }}">{{ site.t_nav_secondary_services[page.lang].text_2 }}</a>
  </li>
  <li>
    <a class="nav-secondary__link" href="{{ site.baseurl }}/{{ site.t_nav_secondary_services[page.lang].link_3 }}">{{ site.t_nav_secondary_services[page.lang].text_3 }}</a>
  </li>
  <li>
    <a class="nav-secondary__link" href="{{ site.baseurl }}/{{ site.t_nav_secondary_services[page.lang].link_4 }}">{{ site.t_nav_secondary_services[page.lang].text_4 }}</a>
  </li>
</ul>
