<ul class="nav-tertiary">
  <li>
    <a class="nav-tertiary__link" href="{{ site.baseurl }}/{{ site.t_nav_tertiary[page.lang].link_1 }}">{{ site.t_nav_tertiary[page.lang].text_1 }}</a>
  </li>
  <li>
    <a class="nav-tertiary__link" href="{{ site.baseurl }}/{{ site.t_nav_tertiary[page.lang].link_2 }}">{{ site.t_nav_tertiary[page.lang].text_2 }}</a>
  </li>
  <li>
    <a class="nav-tertiary__link" href="{{ site.baseurl }}/{{ site.t_nav_tertiary[page.lang].link_3 }}">{{ site.t_nav_tertiary[page.lang].text_3 }}</a>
  </li>
</ul>
