<ul class="nav-tertiary js-nav-tertiary is-hidden">
  <li>
    <a class="nav-tertiary__link" href="{{ site.baseurl }}/{{ site.t[page.lang]nav_tertiary_services_visualization.link_1 }}">{{ site.t[page.lang]nav_tertiary_services_visualization.text_1 }}</a>
  </li>
  <li>
    <a class="nav-tertiary__link" href="{{ site.baseurl }}/{{ site.t[page.lang]nav_tertiary_services_visualization.link_2 }}">{{ site.t[page.lang]nav_tertiary_services_visualization.text_2 }}</a>
  </li>
  <li>
    <a class="nav-tertiary__link" href="{{ site.baseurl }}/{{ site.t[page.lang]nav_tertiary_services_visualization.link_3 }}">{{ site.t[page.lang]nav_tertiary_services_visualization.text_3 }}</a>
  </li>
</ul>
