<ul class="nav-legal u-text-uppercase">
  <li>
    <a class="nav-legal__link" href="{{ site.baseurl }}/{{ site.r_privacidad[page.lang] }}">{{ site.t_footer_legal[page.lang].privacy }}</a>
  </li>
  <li>
    <a class="nav-legal__link" href="{{ site.baseurl }}/{{ site.r_cookies[page.lang] }}">{{ site.t_footer_legal[page.lang].cookies }}</a>
  </li>
  <li>
    <a class="nav-legal__link" href="{{ site.baseurl }}/{{ site.r_aviso_legal[page.lang] }}">{{ site.t_footer_legal[page.lang].terms }}</a>
  </li>
</ul>
