<ul class="nav-main u-text-uppercase">
  <li>
    <a id="services" class="nav-main__link" href="{{ "/servicios" | relative_url }}">Servicios</a>
    <ul id="nav-secondary-services" class="nav-secondary u-text-left is-medium-hidden">
      <li>
        <a class="nav-secondary__link is-subitem" href="{{ "/servicios/data" | relative_url }}">Data</a>
        <ul class="nav-tertiary">
          <li>
            <a class="nav-tertiary__link" href="#">Data sources</a>
          </li>
          <li>
            <a class="nav-tertiary__link" href="#">Data stores</a>
          </li>
          <li>
            <a class="nav-tertiary__link" href="#">Data governance</a>
          </li>
        </ul>
      </li>
      <li>
        <a class="nav-secondary__link is-subitem" href="{{ "/servicios/analisis" | relative_url }}">Análisis</a>
      </li>
      <li>
        <a class="nav-secondary__link is-subitem" href="{{ "/servicios/visualizacion" | relative_url }}">Visualización</a>
      </li>
      <li>
        <a class="nav-secondary__link is-subitem" href="{{ "/servicios/accion" | relative_url }}">Acción</a>
      </li>
    </ul>
  </li>
  <li>
    <a id="solutions" class="nav-main__link" href="{{ "/soluciones" | relative_url }}">Soluciones</a>
    <ul id="nav-secondary-solutions" class="nav-secondary u-text-left is-medium-hidden">
      <li>
        <a class="nav-secondary__link" href="{{ "/soluciones/sherpa-campaign" | relative_url }}">Sherpa campaign</a>
      </li>
      <li>
        <a class="nav-secondary__link" href="{{ "/soluciones/sherpa-dashboard" | relative_url }}">Sherpa dashboard</a>
      </li>
    </ul>
  </li>
  <li>
    <a class="nav-main__link" href="{{ "/nosotros" | relative_url }}">Nosotros</a>
  </li>
</ul>
