<nav class="nav-services">
  <div class="wrapper">

    <ul class="nav-services__content u-text-uppercase">
      <li>
        <a class="nav-services__link {% if include.nav-item == 'data' %}is-active{% endif %}" href="{{ "/servicios/data" | relative_url }}">Data</a>
      </li>
      <li>
        <a class="nav-services__link {% if include.nav-item == 'analysis' %}is-active{% endif %}" href="{{ "/servicios/analisis" | relative_url }}">Análisis</a>
      </li>
      <li>
        <a class="nav-services__link {% if include.nav-item == 'visualization' %}is-active{% endif %}" href="{{ "/servicios/visualizacion" | relative_url }}">Visualización</a>
      </li>
      <li>
        <a class="nav-services__link {% if include.nav-item == 'action' %}is-active{% endif %}" href="{{ "/servicios/accion" | relative_url }}">Acción</a>
      </li>
    </ul>

  </div>
</nav>
