<nav class="nav-secondary u-text-center">
  <div class="wrapper">

    <ul class="nav-secondary__content u-text-uppercase">
      <li>
        <a class="nav-secondary__link {% if include.nav-item == 'sherpa-campaign' %}is-active{% endif %}" href="{{ "/soluciones/sherpa-campaign" | relative_url }}">Sherpa campaign</a>
      </li>
      <li>
        <a class="nav-secondary__link {% if include.nav-item == 'sherpa-dashboard' %}is-active{% endif %}" href="{{ "/soluciones/sherpa-dashboard" | relative_url }}">Sherpa dashboard</a>
      </li>
    </ul>

  </div>
</nav>
