<div class="sectors u-text-center">
  <div class="wrapper">
    <div class="u-inner-small">

      <h2 class="sectors__heading heading3 heading3--light heading3--hr">{{ site.t[page.lang]sectors.heading }}</h2>

      <div class="sectors__content">

        <div class="sectors__col20">
          <div class="sectors__img">
            <img src="{{ site.baseurl }}/assets/img/sectors-tourism.png" alt="{{ site.t[page.lang]sectors.subheading_1 }}">
          </div>
          <span class="sectors__subheading">{{ site.t[page.lang]sectors.subheading_1 }}</span>
        </div>

        <div class="sectors__col20">
          <div class="sectors__img">
            <img src="{{ site.baseurl }}/assets/img/sectors-auto.png" alt="{{ site.t[page.lang]sectors.subheading_2 }}">
          </div>
          <span class="sectors__subheading">{{ site.t[page.lang]sectors.subheading_2 }}</span>
        </div>

        <div class="sectors__col20">
          <div class="sectors__img">
            <img src="{{ site.baseurl }}/assets/img/sectors-supermarkets.png" alt="{{ site.t[page.lang]sectors.subheading_3 }}">
          </div>
          <span class="sectors__subheading">{{ site.t[page.lang]sectors.subheading_3 }}</span>
        </div>

        <div class="sectors__col20">
          <div class="sectors__img">
            <img src="{{ site.baseurl }}/assets/img/sectors-retail.png" alt="{{ site.t[page.lang]sectors.subheading_4 }}">
          </div>
          <span class="sectors__subheading">{{ site.t[page.lang]sectors.subheading_4 }}</span>
        </div>

        <div class="sectors__col20">
          <div class="sectors__img">
            <img src="{{ site.baseurl }}/assets/img/sectors-horeca.png" alt="{{ site.t[page.lang]sectors.subheading_5 }}">
          </div>
          <span class="sectors__subheading">{{ site.t[page.lang]sectors.subheading_5 }}</span>
        </div>

      </div>

    </div>
  </div>
</div>
