<div class="sectors u-text-center">
  <div class="wrapper">
    <div class="u-inner-small">

      <h2 class="sectors__heading heading3 heading3--light heading3--hr">Sectores</h2>

      <div class="sectors__content">

        <div class="sectors__col20">
          <div class="sectors__img">
            {% include icons/medium-up/sectors.svg css-class="icon u-img-responsive-full" %}
          </div>
          <span class="sectors__subheading">Turismo</span>
        </div>

        <div class="sectors__col20">
          <div class="sectors__img">
            {% include icons/medium-up/sectors.svg css-class="icon u-img-responsive-full" %}
          </div>
          <span class="sectors__subheading">Automoción</span>
        </div>

        <div class="sectors__col20">
          <div class="sectors__img">
            {% include icons/medium-up/sectors.svg css-class="icon u-img-responsive-full" %}
          </div>
          <span class="sectors__subheading">Supermercados</span>
        </div>

        <div class="sectors__col20">
          <div class="sectors__img">
            {% include icons/medium-up/sectors.svg css-class="icon u-img-responsive-full" %}
          </div>
          <span class="sectors__subheading">Reatail</span>
        </div>

        <div class="sectors__col20">
          <div class="sectors__img">
            {% include icons/medium-up/sectors.svg css-class="icon u-img-responsive-full" %}
          </div>
          <span class="sectors__subheading">Horeca</span>
        </div>

      </div>

    </div>
  </div>
</div>
