<div class="service">
  <div class="wrapper">

    <div class="service__col-l panel panel--light">
      <div class="u-inner-small">
        <h2 class="heading2 service__heading">{{ site.t[page.lang]service_data_sources.heading }}</h2>
        <div class="service__content">
          <p class="text text--fiord">{{ site.t[page.lang]service_data_sources.text_1 }}</p>
        </div>
        <div class="panel panel--athens u-text-center">
          <div class="u-inner-xsmall">
            <h3 class="heading3 heading3--hr">{{ site.t[page.lang]service_data_storage.heading_uses }}</h3>
            <ul class="list list--unstyled list--bold">
              {{ site.t[page.lang]service_data_storage.text_uses }}
            </ul>
          </div>
        </div>
        {% comment %}
        <div class="button-set">
          <a class="button button--tertiary button--xxsmall" href="{{ site.baseurl }}/{{ site.t[page.lang]service_data_sources.cta_link_1 }}">{{ site.t[page.lang]service_data_sources.cta_text_1 }}</a>
          <a class="button button--tertiary button--xxsmall" href="{{ site.baseurl }}/{{ site.t[page.lang]service_data_sources.cta_link_2 }}">{{ site.t[page.lang]service_data_sources.cta_text_2 }}</a>
        </div>
        {% endcomment %}
      </div>
    </div>

    <div class="service__col-r panel panel--pelorous">
      <div class="u-inner-small">
        <h3 class="heading3 heading3--light heading3--hr">{{ site.t[page.lang]service_data_sources.heading_types }}</h3>
        <ul class="list list--unstyled list--light">
          {{ site.t[page.lang]service_data_sources.text_types }}
        </ul>
      </div>
    </div>

  </div>
</div>
