<div class="service">
  <div class="wrapper">

    <div class="service__col-l">
      <div class="panel panel--light">
        <div class="u-inner-small">
          <h1 class="heading2 service__heading">Análisis de producto</h1>
          <div class="service__content">
            <p class="text text--fiord">¿Cuál es la frecuencia de compra de un producto?, ¿Cómo se correlacionan los productos? ¿Cuáles se adquieren en la misma compra?, ¿Cuál es la senda de compra o abandono?, ¿Qué productos debería ofrecer a un Cliente?, ¿Cuánto aporta a mi negocio cada Producto?, ¿Debo invertir en promocionar un producto?, ¿Qué productos consumen cada segmento de clientes?</p>
            <p class="text text--fiord">Desarrollados en R, Kmine, SPSS, MSExcel.</p>
          </div>
          <div class="panel panel--athens u-text-center">
            <div class="u-inner-xsmall">
              <h2 class="heading3 heading3--hr">Tipos de análisis</h2>
              <ul class="list list--unstyled">
                <li><strong>Venta cruzada</strong></li>
                <li><strong>Cesta de la compra</strong></li>
                <li><strong>Recomendador de productos</strong></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="service__col-r">
      <div class="panel panel--pelorous">
        <div class="u-inner-small">
          <h2 class="heading3 heading3--light heading3--hr">Usos</h2>
          <ul class="list list--light list--unstyled">
            <li>Definición Plan de Contactos/Contenidos</li>
            <li>Definir Plan de Up/Cross selling para cada Cliente</li>
            <li>Qué productos recomendar a un Cliente</li>
            <li>Cómo colocar los productos en el linear</li>
          </ul>
        </div>
        <div class="u-inner-small">
          <h2 class="heading3 heading3--light heading3--hr">Técnicas</h2>
          <ul class="list list--light list--unstyled">
            <li>Clustering</li>
            <li>Tree-decision</li>
            <li>RFMP</li>
            <li>LTV</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
