<div class="service">
  <div class="wrapper">

    <div class="service__col-l panel panel--light">
      <div class="u-inner-small">
        <h2 class="heading2 service__heading">Consultoría</h2>
        <div class="service__content">
          <p class="text text--fiord">Es frecuente que muchas compañías crean en el poder de los datos para ser competitivos pero que tengan dificultades para saber por dónde empezar.</p>
          <p class="text text--fiord">Los proyectos de Consultoría de las áreas de Negocio, Tecnología y Equipos/Procesos identificamos el punto de partida y establecemos una hoja de ruta de iniciativas priorizadas teniendo en cuenta las capacidades y recursos necesarios para desarrollar con éxito el proyecto y en el mínimo tiempo.</p>
          <p class="text text--fiord">La consultoría colabora con los equipos de negocio, tecnología y los proveedores actuales (agencias, consultoras tecnológicas…) a lo largo del Data Journey (Data > Analytics > Action).</p>
        </div>
      </div>
    </div>

    <div class="service__col-r panel panel--pelorous">
      <div class="u-inner-small">
        <h3 class="heading3 heading3--light heading3--hr">Tipos</h3>
        <ul class="list list--unstyled list--light">
          <li>Consultoría CRM/CX</li>
          <li>Consultoría Campañas</li>
          <li>Consultoría Análisis</li>
          <li>Consultoría Datos</li>
          <li>Consultoría Martech</li>
          <li>Consultoría Big Data & BI</li>
          <li>Consultoría Equipo/Metodología/Procesos</li>
        </ul>
      </div>
    </div>

  </div>
</div>
