<div class="service">
  <div class="wrapper">

    <div class="service__col-l panel panel--light">
      <div class="u-inner-small">
        <h2 class="heading2 service__heading">Data stores</h2>
        <div class="service__content">
          <p class="text text--fiord">Identificar y dominar las fuentes necesarias para la creación de valor partir de los datos es el primer paso del data analytics journey.</p>
          <p class="text text--fiord">Por eso, tener la capacidad de acceder de manera ágil y consistente a las fuentes de datos utilizando distintas técnicas  para extraer, transformar y cargar los datos es clave.</p>
          <p class="text text--fiord">De misma manera no debemos olvidar el establecimiento de procesos relacionados con la calidad de datos.</p>
          <p class="text text--fiord">Desarrollos de ETL, APIs, Scraping.</p>
          <p class="text text--fiord">Algoritmos de Calidad de datos Limpieza / Normalización / Deduplicación / Consolidación de datos.</p>
          <p class="text text--fiord">Herramientas habituales Pentaho-Kettel, Jsoup… etc.</p>
        </div>
        <div class="button-set">
          <a href="#" class="button button--tertiary button--xxsmall">Big data technology</a>
          <a href="#" class="button button--tertiary button--xxsmall">Bi & datawarehouse</a>
        </div>
      </div>
    </div>

    <div class="service__col-r panel panel--pelorous">
      <div class="u-inner-small">
        <h3 class="heading3 heading3--light heading3--hr">Tipos</h3>
        <ul class="list list--unstyled list--light">
          <li>Transaccionales (ERP, SAP)</li>
          <li>Marketing (CMS, CRM, MAP, DSP, DAM, SAC, SOCIAL…)</li>
          <li>Ventas</li>
          <li>E-Commerce</li>
          <li>Puntos de Venta</li>
          <li>IOT</li>
          <li>Opendata (Clima, Carretera…)</li>
          <li>Data Brokers</li>
          <li>Web</li>
          <li>Estudios</li>
          <li>Encuestas</li>
        </ul>
      </div>
    </div>

  </div>
</div>
