<div class="service">
  <div class="wrapper">

    <div class="service__col-l panel panel--light">
      <div class="u-inner-small">
        <h2 class="heading2 service__heading">{{ site.t[page.lang]service_visualization_maps.heading }}</h2>
        <div class="service__content">
          <p class="text text--fiord">{{ site.t[page.lang]service_visualization_maps.text_1 }}</p>
          <p class="text text--fiord">{{ site.t[page.lang]service_visualization_maps.text_2 }}</p>
          <p class="text text--fiord">{{ site.t[page.lang]service_visualization_maps.text_3 }}</p>
          <p class="text text--fiord">{{ site.t[page.lang]service_visualization_maps.text_4 }}</p>
        </div>
      </div>
    </div>

    <div class="service__col-r panel panel--pelorous">
      <div class="u-inner-small">
        <h3 class="heading3 heading3--light heading3--hr">{{ site.t[page.lang]service_visualization_maps.heading_types }}</h3>
        <ul class="list list--unstyled list--light">
          {{ site.t[page.lang]service_visualization_maps.text_types }}
        </ul>
      </div>
    </div>

  </div>
</div>
