<div class="service">
  <div class="wrapper">

    <div class="service__col-l">
      <div class="panel panel--light">
        <div class="u-inner-small">
          <h1 class="heading2 service__heading">Dashboard</h1>
          <div class="service__content">
            <p class="text text--fiord">Herramienta BI para la visualizar grandes volúmenes datos de distintas fuentes relacionadas (transaccionales, comunicaciones, clientes, social …). Enfocado al descubrimiento de insights,  a la toma de decisiones y a la mejora de la productividad.</p>
            <p class="text text--fiord">A partir de las necesidades concretas de los distintos usuarios definimos los objetivos,  kpis, las dimensiones de la información, los elementos a visualizar (gráficas, tablas, listas, mapas…) y los elementos de contexto.</p>
            <p class="text text--fiord">Funcionalidades habituales de los dashboards son la aplicación de Filtros/Exclusiones, creación de Tablas pivotantes, Alertas, integración con Machine Learning, exportación a MSExcel, Mapas, Marcadores, anotación Comentarios, Predicciones y Prescripciones…</p>
            <p class="text text--fiord">
              <strong>Desarrollados en QlikView, QlikSense, Domo.</strong>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="service__col-r">
      <div class="panel panel--pelorous">
        <div class="u-inner-small">
          <h2 class="heading3 heading3--light heading3--hr">Tipos</h2>
          <ul class="list list--unstyled list--light">
            <li>Dashboard Contadores</li>
            <li>Dashboard Segmentación Campañas</li>
            <li>Dashboard Resultados de Campañas</li>
            <li>Dashboard integral de Marketing</li>
            <li>Dashboard de Productos y Pricing</li>
            <li>Dashboard Calidad de datos</li>
            <li>Dashboard Funnel de Ventas</li>
            <li>Dashboard de Competencia</li>
            <li>Dashboard de Mercado & Investigación</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
