<div class="service">
  <div class="wrapper">

    <div class="service__col-l panel panel--light">
      <div class="u-inner-small">
        <h2 class="heading2 service__heading">{{ site.t[page.lang]service_analysis_product.heading }}</h2>
        <div class="service__content">
          <p class="text text--fiord">{{ site.t[page.lang]service_analysis_product.text_1 }}</p>
          <p class="text text--fiord">{{ site.t[page.lang]service_analysis_product.text_2 }}</p>
        </div>
        <div class="panel panel--athens u-text-center">
          <div class="u-inner-xsmall">
            <h3 class="heading3 heading3--hr">{{ site.t[page.lang]service_analysis_product.heading_types }}</h3>
            <ul class="list list--unstyled list--bold">
              {{ site.t[page.lang]service_analysis_product.text_types }}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="service__col-r panel panel--pelorous">
      <div class="u-inner-small">
        <h3 class="heading3 heading3--light heading3--hr">{{ site.t[page.lang]service_analysis_product.heading_uses }}</h3>
        <ul class="list list--unstyled list--light">
          {{ site.t[page.lang]service_analysis_product.text_uses }}
        </ul>
      </div>
      <div class="u-inner-small">
        <h3 class="heading3 heading3--light heading3--hr">{{ site.t[page.lang]service_analysis_product.heading_techniques }}</h3>
        <ul class="list list--unstyled list--light">
          {{ site.t[page.lang]service_analysis_product.text_techniques }}
        </ul>
      </div>
    </div>

  </div>
</div>
