<div class="service-default">
  <div class="wrapper">
    <div class="u-inner-medium">

      <h1 class="heading2 service-default__heading u-text-center">Servicios</h1>

      <div class="service-default__img is-medium-hidden">
        {% include icons/service-default.svg css-class="icon u-img-responsive-full" %}
      </div>

      <div class="service-default__content">

        <div class="service-default__col25">
          <div class="service-default__img is-small-hidden">
            {% include icons/medium-up/service-default.svg css-class="icon u-img-responsive-full" %}
          </div>
          <h3 class="heading3 service-default__subheading">Data</h3>
        </div>

        <div class="service-default__col25">
          <div class="service-default__img is-small-hidden">
            {% include icons/medium-up/service-default.svg css-class="icon u-img-responsive-full" %}
          </div>
          <h3 class="heading3 service-default__subheading">Análisis</h3>
        </div>

        <div class="service-default__col25">
          <div class="service-default__img is-small-hidden">
            {% include icons/medium-up/service-default.svg css-class="icon u-img-responsive-full" %}
          </div>
          <h3 class="heading3 service-default__subheading">Visualización</h3>
        </div>

        <div class="service-default__col25">
          <div class="service-default__img is-small-hidden">
            {% include icons/medium-up/service-default.svg css-class="icon u-img-responsive-full" %}
          </div>
          <h3 class="heading3 service-default__subheading">Acción</h3>
        </div>

      </div>

    </div>
  </div>
</div>
