<div class="service-default">
  <div class="wrapper">
    <div class="u-inner-medium">

      <h1 class="heading2 heading2--light service-default__heading u-text-center">{{ page.title }}</h1>

      <div class="service-default__img is-medium-hidden">
        <img class="u-img-responsive-full" src="{{ site.baseurl }}/assets/img/services.png" alt="{{ page.title }}">
      </div>

      <div class="service-default__content">

        <div class="service-default__col25">
          <div class="service-default__img is-small-hidden">
            <img class="u-img-responsive-full" src="{{ site.baseurl }}/assets/img/medium-up/services-data.png" alt="{{ site.t[page.lang]data_journey.subheading_1 }}">
          </div>
          <h3 class="heading3 heading3--light service-default__subheading">{{ site.t[page.lang]data_journey.subheading_1 }}</h3>
          <p class="text text--small text--light">{{ site.t[page.lang]data_journey.text_1 }}</p>
          <p class="service-default__cta">
            <a class="link link--secondary" href="{{ site.baseurl }}/{{ site.t[page.lang]data_journey.cta_link_1 }}">› {{ site.t[page.lang]data_journey.cta_text_1 }}</a>
          </p>
        </div>

        <div class="service-default__col25">
          <div class="service-default__img is-small-hidden">
            <img class="u-img-responsive-full" src="{{ site.baseurl }}/assets/img/medium-up/services-analysis.png" alt="{{ site.t[page.lang]data_journey.subheading_2 }}">
          </div>
          <h3 class="heading3 heading3--light service-default__subheading">{{ site.t[page.lang]data_journey.subheading_2 }}</h3>
          <p class="text text--small text--light">{{ site.t[page.lang]data_journey.text_2 }}</p>
          <p class="service-default__cta">
            <a class="link link--secondary" href="{{ site.baseurl }}/{{ site.t[page.lang]data_journey.cta_link_2 }}">› {{ site.t[page.lang]data_journey.cta_text_2 }}</a>
          </p>
        </div>

        <div class="service-default__col25">
          <div class="service-default__img is-small-hidden">
            <img class="u-img-responsive-full" src="{{ site.baseurl }}/assets/img/medium-up/services-visualization.png" alt="{{ site.t[page.lang]data_journey.subheading_3 }}">
          </div>
          <h3 class="heading3 heading3--light service-default__subheading">{{ site.t[page.lang]data_journey.subheading_3 }}</h3>
          <p class="text text--small text--light">{{ site.t[page.lang]data_journey.text_3 }}</p>
          <p class="service-default__cta">
            <a class="link link--secondary" href="{{ site.baseurl }}/{{ site.t[page.lang]data_journey.cta_link_3 }}">› {{ site.t[page.lang]data_journey.cta_text_3 }}</a>
          </p>
        </div>

        <div class="service-default__col25">
          <div class="service-default__img is-small-hidden">
            <img class="u-img-responsive-full" src="{{ site.baseurl }}/assets/img/medium-up/services-action.png" alt="{{ site.t[page.lang]data_journey.subheading_4 }}">
          </div>
          <h3 class="heading3 heading3--light service-default__subheading">{{ site.t[page.lang]data_journey.subheading_4 }}</h3>
          <p class="text text--small text--light">{{ site.t[page.lang]data_journey.text_4 }}</p>
          <p class="service-default__cta">
            <a class="link link--secondary" href="{{ site.baseurl }}/{{ site.t[page.lang]data_journey.cta_link_4 }}">› {{ site.t[page.lang]data_journey.cta_text_4 }}</a>
          </p>
        </div>

      </div>

    </div>
  </div>
</div>
