<div class="solution-default">
  <div class="wrapper">
    <div class="u-inner-medium">

      <h1 class="heading2 solution-default__heading u-text-center">{{ site.t[page.lang]solution_default.heading }}</h1>

      <div class="solution-default__img is-medium-hidden">
        <img class="u-img-responsive-full" src="{{ site.baseurl }}/assets/img/solutions.png" alt="{{ site.t[page.lang]solution_default.heading }}">
      </div>

      <div class="solution-default__content">

        <div class="solution-default__col50">
          <div class="solution-default__img is-small-hidden">
            <img class="u-img-responsive-full" src="{{ site.baseurl }}/assets/img/medium-up/solutions.png" alt="{{ site.t[page.lang]solution_default.heading }}">
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
