<div class="solution">
  <div class="wrapper">
    <div class="u-inner-large">

      <h1 class="heading2">Sherpa campaign</h1>
      <div class="solution__content">
        <p class="text">Solución para la automatización de las tareas de marketing (MAP), tales como envíos de emails, social media y otras accions sobre la web website actions bajo un mismo concepto de Campaña independientemente del canal utilizado.</p>
      </div>
      <img class="u-img-responsive-full" src="{{ "/assets/img/medium-up/sherpa-campaign.png" | relative_url }}" alt="Sherpa campaign">

      {% include patterns/sectors.html %}

      <div class="panel panel--pelorous panel--cols">
        <div class="panel__col-l">
          <div class="u-inner-xsmall">
            <h2 class="heading3 heading3--light heading3--hr">Funcionalidades</h2>
            <ul class="list list--unstyled list--light">
              <li>Envíos: Email, SMS, Telemk, Media, Formularios, Landings… Reports</li>
              <li>Campañas, Contenidos,  Segmentación, Personas.</li>
            </ul>
          </div>
        </div>
        <div class="panel__col-r">
          <div class="u-inner-xsmall">
            <h2 class="heading3 heading3--light heading3--hr">Integraciones</h2>
            <ul class="list list--unstyled list--light">
              <li>Mailjet, Mailchimp, SMS</li>
              <li>Qlikview, Qliksense, Power BI,  Domo, Cruchbase,</li>
              <li>Facebook, Twitter, Instagram,  Linkedin, Sentiment</li>
              <li>Magento, Prestashop, Freshdesk,  Zendesk, Hubspot, Pipedrive.  Salesforce, Surveymonkey…</li>
              <li>Sizmek, Doubleclick</li>
              <li>Zapier, IFTTT</li>
              <li>Amazon, Hadoop…</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
