<div class="solution">
  <div class="wrapper">
    <div class="u-inner-large">

      <h1 class="heading2">{{ site.t[page.lang]solution_sherpa_dashboard.heading }}</h1>
      <div class="solution__content">
        <p class="text">{{ site.t[page.lang]solution_sherpa_dashboard.text }}</p>
      </div>
      <img class="u-img-responsive-full" src="{{ site.baseurl }}/assets/img/medium-up/sherpa-dashboard.png" alt="{{ site.t[page.lang]solution_sherpa_dashboard.img_alt }}">

      {% include patterns/sectors.html %}

      <div class="panel panel--pelorous panel--cols">
        <div class="panel__col-l">
          <div class="u-inner-xsmall">
            <h2 class="heading3 heading3--light heading3--hr">{{ site.t[page.lang]solution_sherpa_dashboard.heading_features }}</h2>
            <ul class="list list--unstyled list--light">
              {{ site.t[page.lang]solution_sherpa_dashboard.text_features }}
            </ul>
          </div>
        </div>
        <div class="panel__col-r">
          <div class="u-inner-xsmall">
            <h2 class="heading3 heading3--light heading3--hr">{{ site.t[page.lang]solution_sherpa_dashboard.heading_integrations }}</h2>
            <ul class="list list--unstyled list--light">
              {{ site.t[page.lang]solution_sherpa_dashboard.text_integrations }}
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
