<div class="solution">
  <div class="wrapper">
    <div class="u-inner-large">

      <h1 class="heading2">Sherpa dashboard</h1>
      <div class="solution__content">
        <p class="text">Solución para la visualización de los principales KPIs de marketing, tales como envíos de emails, social media,  web y media bajo un mismo concepto de Campaña. Posibilidad de incorporar datos transaccionales o de cualquier otro ámbito. Desarrollados principalmente en QlikView y QlikSense.</p>
      </div>
      <img class="u-img-responsive-full" src="{{ "/assets/img/medium-up/sherpa-dashboard.png" | relative_url }}" alt="Sherpa dashboard">

      {% include patterns/sectors.html %}

      <div class="panel panel--pelorous panel--cols">
        <div class="panel__col-l">
          <div class="u-inner-xsmall">
            <h2 class="heading3 heading3--light heading3--hr">Tipos de dashboards</h2>
            <ul class="list list--unstyled list--light">
              <li>Marketing integral  (GA, Social, CRM, Emailing…)</li>
              <li>Contadores</li>
              <li>Segmentación</li>
              <li>Conversiones…</li>
            </ul>
          </div>
        </div>
        <div class="panel__col-r">
          <div class="u-inner-xsmall">
            <h2 class="heading3 heading3--light heading3--hr">Integraciones</h2>
            <ul class="list list--unstyled list--light">
              <li>Qlik Marketplace</li>
              <li>Domo</li>
              <li>OpenStreetmaps</li>
              <li>Sherpa Campaign</li>
              <li>Sherpa Data</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
