// About team
// -----------------------------------------------------------------------------

.about-team {
  background-color: $c-light;
  text-align: center;

  .u-inner-small {
    @media ($medium-up) {
      display: flex;
    }
  }

  &__col-l {
    margin-bottom: $sp-xxlarge;

    @media ($medium-up) {
      @include col(50%, left);
      margin-right: $sp-xxlarge;
      margin-bottom: 0;
    }

    @media ($large-up) {
      margin-right: $sp-huge;
    }
  }

  &__col-r {
    margin-bottom: $sp-xxlarge;

    @media ($medium-up) {
      @include col(50%, center);
      margin-left: $sp-xxlarge;
      margin-bottom: 0;
    }

    @media ($large-up) {
      margin-left: $sp-huge;
    }
  }
}
