// Business
// -----------------------------------------------------------------------------

.business {
  background-color: $c-light;
  text-align: center;

  &__content {
    margin-bottom: $sp-large;

    @media ($medium-up) {
      margin-bottom: $sp-huge;
    }
  }

  &__img {
    @include img-responsive(inline-block);
  }
}
