// Business
// -----------------------------------------------------------------------------

.business {
  background-color: $c-light;
  text-align: center;

  &__heading {
    margin-bottom: 0;
  }
}
