// Business
// -----------------------------------------------------------------------------

.business {
  background-color: $c-light;
  text-align: center;

  &__heading {
    margin-bottom: 0;
  }

  &__subheading {
    margin-top: -$sp-small;
    margin-bottom: 0;

    @media ($medium-up) {
      margin-top: -$sp-xxlarge;
    }
  }
}
