// Button
// -----------------------------------------------------------------------------

//
// Reset `button` and button-style `input` default styles
//
// 1. for input
// 2. for button
//
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  appearance: button; // 1
  user-select: none; // 2
}

[role="button"] {
  color: inherit;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  user-select: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
[role="button"] {
  line-height: $lh-base;
  cursor: pointer;
}


//
// Button base
//
.button {
  @include button-base;
}


//
// Button type
//
.button--primary {
  @include button-primary;
}

.button--secondary {
  @include button-secondary;
}

.button--tertiary {
  @include button-tertiary;
}


//
// Button size
//
.button--xxsmall {
  @include button-xxsmall;
  letter-spacing: 1px;
}

.button--small {
  @include button-small;
}


//
// Button icon
//
.button--icon {
  @include button-icon;
}
