// Data journey
// -----------------------------------------------------------------------------

.data-journey {
  background-color: $c-light;

  &__heading {
    margin-bottom: $sp-large;

    @media ($medium-up) {
      margin-bottom: $sp-big;
    }
  }

  &__content {
    @media ($medium-up) {
      display: flex;
    }
  }

  &__col25 {
    @media ($medium-up) {
      @include col(25%, left);
      margin-left: $sp-xxsmall;
      margin-right: $sp-xxsmall;
    }
  }

  &__img {
    margin-bottom: $sp-small;

    @media ($medium-up) {
      margin-bottom: $sp-xxlarge;
    }
  }

  &__subheading {
    margin-bottom: $sp-xxsmall;

    @media ($medium-up) {
      margin-bottom: $sp-small;
    }
  }
}
