// Footer
// -----------------------------------------------------------------------------

.footer {
  @include size($footer-wd, $footer-ht);
  padding: $footer-pdv $footer-pdh;
  color: $footer-c;
  background-color: $footer-bg;

  @media ($medium-up) {
    padding: $footer-pdt-medium-up $footer-pdh-medium-up $footer-pdb-medium-up;
  }

  a {
    @include link($c-dark, red); // TODO: replace hover color
    font-weight: $fw-bold;
    text-decoration: none;
  }

  > .wrapper {
    @media ($medium-up) {
      display: flex;
    }
  }

  &__col-l {
    text-align: center;

    @media ($medium-up) {
      @include col(25%, left);
    }
  }

  &__col-r {
    text-align: center;

    @media ($medium-up) {
      @include col(50%, right);
    }
  }
}
