// Footer
// -----------------------------------------------------------------------------

.footer {
  @include size($footer-wd, $footer-ht);
  color: $footer-c;
  background-color: $footer-bg;

  a {
    @include link($c-dark, red); // TODO: replace hover color
  }

  .u-inner-large {
    @media ($medium-up) {
      display: flex;
    }
  }

  &__col-l {
    text-align: center;

    @media ($medium-up) {
      @include col(25%, left);
    }
  }

  &__col-r {
    text-align: center;

    @media ($medium-up) {
      @include col(50%, right);
    }
  }

  h5 {
    margin-bottom: $sp-xxsmall;

    @media ($medium-up) {
      margin-bottom: $sp-small;
    }
  }

  .text {
    margin-bottom: $sp-large;

    @media ($medium-up) {
      margin-bottom: 0;
    }
  }
}
