// Header
// -----------------------------------------------------------------------------

.header {
  @include positioner(fixed, $header-wd, $header-ht, top, 0, left, 0, 10);
  @include clearfix;
  padding: $header-pdv $header-pdh;
  background-color: $header-bg;

  @media ($medium-up) {
    @include size($header-wd-medium-up, $header-ht-medium-up);
    padding: $header-pdv-medium-up $header-pdh-medium-up;
    background-color: $header-bg-medium-up;
  }

  &.is-transparent {
    background-color: $header-bg-transparent;

    @media ($medium-up) {
      background-color: $header-bg-transparent-medium-up;
    }
  }

  &__brand {
    @include size($header-brand-wd, $header-brand-ht);

    @media ($medium-up) {
      @include size($header-brand-wd-medium-up, $header-brand-ht-medium-up);
      float: left;
    }

    > a {
      display: block;
    }
  }

  .icon--brand {
    vertical-align: top;
  }

  &__nav {
    @include positioner($header-nav-po, $header-nav-wd, $header-nav-ht, top, $header-ht, left, 0, 11);
    background-color: $header-nav-bg;
    text-align: center;

    @media ($medium-up) {
      @include positioner($header-nav-po-medium-up, $header-nav-wd-medium-up, $header-nav-ht-medium-up, top, auto, left, auto, auto);
      background-color: $header-nav-bg-medium-up;
      float: right;
      text-align: right;
    }
  }

  &__hamburger {
    @include positioner(absolute, $header-hamburger-wd, $header-hamburger-ht, top, 0, right, 0, 11);
    @include button-reset;
    padding: $header-hamburger-pd;
    font-size: $fz-large;
    line-height: $lh-xsmall;
    color: $header-hamburger-c;
    background-color: $header-hamburger-bg;
  }
}
