// Hero video
// -----------------------------------------------------------------------------

.hero-video {
  @include size($hero-video-wd, $hero-video-ht);
  background: $hero-video-bg url("#{$assets-img-path}/bg-hero-video.png") no-repeat center top;
  background-size: cover;

  @media ($medium-up) {
    @include size($hero-video-wd-medium-up, $hero-video-ht-medium-up);
  }

  &__heading {
    margin-bottom: 0;
    color: $c-light;

    @media ($xlarge-up) {
      width: 80%;
    }
  }
}
