// Hero intro
// -----------------------------------------------------------------------------
//
// 1. Button covering the entire hero, for easy video playing
//

.hero-intro {
  @include size($hero-intro-wd, $hero-intro-ht);
  @include item-background($hero-intro-bgc, $hero-intro-bgi, $hero-intro-bgi-medium-up);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
  overflow: hidden;

  @media ($medium-up) {
    @include size($hero-intro-wd-medium-up, $hero-intro-ht-medium-up);
  }

  &__play {
    @include positioner-center-all;
    @include size(100%, 100%); // 1
  }

  .heading1 {
    margin-bottom: 0;

    @media ($xlarge-up) {
      width: 80%;
    }
  }
}
