// Hero services
// -----------------------------------------------------------------------------

.hero-services {
  @include size($hero-services-wd, $hero-services-ht);
  font-family: $ff-sans-serif-m;
  font-size: $fz-medium;
  line-height: $lh-small;
  background-color: $hero-services-bgc-default;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @media ($medium-up) {
    @include size($hero-services-wd-medium-up, $hero-services-ht-medium-up);
  }

  &--data {
    @include item-background($hero-services-bgc-data, $hero-services-bgi-data, $hero-services-bgi-data-medium-up);
  }

  &--analysis {
    @include item-background($hero-services-bgc-analysis, $hero-services-bgi-analysis, $hero-services-bgi-analysis-medium-up);
  }

  &--visualization {
    @include item-background($hero-services-bgc-visualization, $hero-services-bgi-visualization, $hero-services-bgi-visualization-medium-up);
  }

  &--action {
    @include item-background($hero-services-bgc-action, $hero-services-bgi-action, $hero-services-bgi-action-medium-up);
  }

  &--default {
    @include item-background($hero-services-bgc-default, $hero-services-bgi-default, $hero-services-bgi-default-medium-up);
  }
}
