// Link
// -----------------------------------------------------------------------------

.link {
  font-family: $ff-sans-serif-m;
  font-size: $fz-xxsmall;
  font-weight: $fw-bold;
  text-transform: uppercase;

  &--secondary {
    @include link($link-secondary-c, $link-secondary-hover-c);
  }

  &--tertiary {
    @include link($link-tertiary-c, $link-tertiary-hover-c);
  }
}
