// List
// -----------------------------------------------------------------------------

.list {
  font-family: $ff-sans-serif-b;
  font-size: $fz-base;

  &:only-of-type,
  &:only-child,
  &:last-child {
    margin-bottom: 0;
  }

  &--light {
    font-style: italic;
    color: $c-light;
  }

  &--bold {
    font-weight: $fw-semi-bold;
  }

  &--unstyled {
    padding-left: 0;
    list-style: none;

    > li + li {
      margin-top: $sp-small;
    }
  }
}
