// Navigation services
// -----------------------------------------------------------------------------

.nav-services {
  @include positioner(fixed, $nav-services-wd, $nav-services-ht, top, $nav-services-top, left, 0, 10);

  @media ($medium-up) {
    top: $nav-services-top-medium-up;
  }

  &__content {
    @include list-flex-last;
  }

  &__link {
    @include link($nav-services-c, $nav-services-c-hover);
    display: block;
    padding: $sp-small $sp-xxxlarge;
    background-color: $nav-services-bgc;

    @media ($medium-up) {
      @include link($nav-services-c-medium-up, $nav-services-c-hover-medium-up);
      background-color: $nav-services-bgc-medium-up;
    }

    &.is-active,
    &:active {
      color: $nav-services-c-active;
      background-color: $nav-services-bgc-active;

      @media ($medium-up) {
        color: $nav-services-c-active-medium-up;
        background-color: $nav-services-bgc-active-medium-up;
      }
    }
  }
}
