// Navigation main
// -----------------------------------------------------------------------------

.nav-main {
  @include list-inline-first-last($sp-xsmall, $sp-xsmall);
  font-family: $ff-sans-serif-m;
  font-size: $fz-small;

  @media ($medium-up) {
    font-weight: $fw-bold;
  }

  &__link {
    @include link($c-light, $nav-main-c-hover);

    @media ($medium-up) {
      @include link($nav-main-c, $nav-main-c-hover);
    }

    // &.is-active,
    // &:active {
    //   //
    // }

    .is-transparent & {
      @include link($nav-main-c-transparent, $nav-main-c-transparent-hover);
    }
  }
}
