// Navigation secondary
// -----------------------------------------------------------------------------
//
// 1. Touch device friendly
//

.nav-secondary {
  @include list-reset;
  width: $nav-secondary-wd;
  font-family: $ff-sans-serif-m;
  font-size: $fz-base;
  line-height: $lh-small;

  @media ($medium-up) {
    @include positioner-center-h($nav-secondary-wd-medium-up, auto, $nav-secondary-top-medium-up, $zi-100);

    &:before {
      @include pseudo-arrow(36px, 10px, $nav-secondary-link-bgc);
    }
  }

  > li {
    margin-bottom: 2px;
  }

  &__link {
    @include link($nav-secondary-link-c, $nav-secondary-link-c-hover);
    position: relative;
    display: block; // 1
    padding: $sp-small $sp-small $sp-small $sp-xxlarge;
    background-color: $nav-secondary-link-bgc;
    transition: $transition-bg;

    @media ($medium-up) {
      padding-left: $sp-small;
    }

    &:hover {
      background-color: $nav-secondary-link-bgc-hover;
    }

    &.is-subitem:after {
      @include pseudo-chevron($sp-medium, $sp-small);
      transition: $transition-trf;
    }

    &.is-active,
    &:active {
      color: $nav-secondary-link-c-active;
      background-color: $nav-secondary-link-bgc-active;

      &.is-subitem:after {
        transform: rotate(180deg);
      }
    }
  }
}
