// Navigation main
// -----------------------------------------------------------------------------
//
// 1. Touch device friendly
//

.nav-main {
  @include list-reset;
  font-family: $ff-sans-serif-m;
  font-size: $fz-base;
  line-height: $lh-small;

  @media ($medium-up) {
    @include list-inline-last($sp-xsmall, $sp-xsmall);
    float: left;
  }

  > li {
    position: relative;
  }

  &__link {
    @include link($nav-main-link-c, $nav-main-link-c-hover);
    position: relative;
    display: block; // 1
    padding: $sp-small;
    background-color: $nav-main-link-bgc;
    transition: $transition-bg;

    @media ($medium-up) {
      @include link($nav-main-link-c-medium-up, $nav-main-link-c-hover-medium-up);
      font-size: $fz-xsmall;
      font-weight: $fw-bold;
      padding: $sp-xxsmall 0;
      background-color: $nav-main-link-bgc-medium-up;
    }

    &:hover {
      background-color: $nav-main-link-bgc-hover;

      @media ($medium-up) {
        background-color: $nav-main-link-bgc-hover-medium-up;
      }
    }

    &.is-subitem:after {
      @include subitem-arrow($sp-xsmall, -$sp-xsmall);
    }

    &.is-active,
    &:active {
      color: $nav-main-link-c-active;
      background-color: $nav-main-link-bgc-active;

      @media ($medium-up) {
        color: $nav-main-link-c-active-medium-up;
        background-color: $nav-main-link-bgc-active-medium-up;
      }
    }
  }
}

// .header.is-sticky .nav-main__link {
//   //
// }
