// Service default
// -----------------------------------------------------------------------------

.service-default {
  padding-top: $sp-giant;

  &__heading {
    margin-bottom: $sp-xxlarge;
    color: $c-light;

    @media ($medium-up) {
      margin-bottom: $sp-big;
    }
  }

  &__content {
    @media ($medium-up) {
      display: flex;
    }
  }

  &__col25 {
    @media ($medium-up) {
      @include col(25%, center);
      margin-left: $sp-xxsmall;
      margin-right: $sp-xxsmall;
    }
  }

  &__img {
    margin-bottom: $sp-small;

    @media ($medium-up) {
      margin-bottom: $sp-xxlarge;
    }
  }

  &__subheading {
    margin-bottom: 0;
    color: $c-light;
  }
}
