// Service
// -----------------------------------------------------------------------------

.service {
  .wrapper {
    @media ($medium-up) {
      display: flex;
    }
  }

  &__col-l {
    text-align: center;

    @media ($medium-up) {
      @include col(62%, left);
    }
  }

  &__col-r {
    text-align: center;

    @media ($medium-up) {
      @include col(38%, left);
    }
  }

  &__heading {
    margin-bottom: $sp-xxlarge;
  }

  &__content {
    margin-bottom: $sp-big;
  }
}
