// Solution
// -----------------------------------------------------------------------------

.solution {
  @include item-background($solution-bgc, $solution-bgi, $solution-bgi-medium-up);
  background-repeat: no-repeat;
  background-position: center 450px;
  background-size: cover;

  @media ($medium-up) {
    background-position: center 750px;
    background-size: 100%;
  }

  &__content {
    margin-bottom: $sp-small;

    @media ($medium-up) {
      margin-bottom: $sp-xxlarge;
    }
  }
}
