<div class="business">
  <div class="wrapper">
    <div class="u-inner-large">

      <h2>Negocio y tecnología</h2>

      <div class="business__content">
        <p class="text text--fiord">In et labore cupidatat aute magna consequat consectetur ex. Est enim Lorem mollit eu aute ea tempor fugiat elit. Non est laborum ea proident elit reprehenderit tempor non.</p>
      </div>

      <h4>
        Hablamos los lenguajes para cubrir el "gap"<br>
        entre tecnología y marketing
      </h4>
      <img class="business__img" src="http://via.placeholder.com/1020x220" alt="Consultores marketing data">

    </div>
  </div>
</div>
