<div class="">
  <div class="wrapper">
    <div class="u-inner-medium">

      <div class="gallery items-3">

        <div id="item-1" class="control-operator"></div>
        <div id="item-2" class="control-operator"></div>
        <div id="item-3" class="control-operator"></div>

        <figure class="item">
          <h1>1</h1>
          <a href="#item-2" class="control-arrow-r">›</a>
        </figure>

        <figure class="item">
          <h1>2</h1>
          <a href="#item-1" class="control-arrow-l">‹</a>
          <a href="#item-3" class="control-arrow-r">›</a>
        </figure>

        <figure class="item">
          <h1>3</h1>
          <a href="#item-2" class="control-arrow-l">‹</a>
        </figure>

        <div class="controls">
          <a href="#item-1" class="control-button">•</a>
          <a href="#item-2" class="control-button">•</a>
          <a href="#item-3" class="control-button">•</a>
        </div>

      </div>

    </div>
  </div>
</div>


<div class="carousel">
  <div class="wrapper">
    <div class="u-inner-medium">

      <div class="carousel__col-l">
        <h2 class="heading2 carousel__heading">
          Desde la estrategia<br>
          a la ejecución
        </h2>
        <p class="text">Qui in id aliqua occaecat reprehenderit laborum magna proident esse labore mollit sunt amet dolor in. Laboris aute et fugiat voluptate excepteur amet ipsum dolore do mollit laborum dolore dolor minim fugiat ad. Incididunt irure excepteur proident anim id adipisicing exercitation anim ea officia ad cillum.</p>
        <a class="button button--secondary button--xxsmall" href="#">› Nosotros</a>
      </div>

      <div class="carousel__col-r">
        {% include svg/carousel.svg css-class="icon" %}
      </div>

    </div>
  </div>
</div>
