<div class="contact">
  <div class="wrapper">
    <div class="u-inner-medium">

      <h2 class="heading2 contact__heading u-text-center">Request a free consultation</h2>
      <h3 class="heading4 u-text-center">Tell us about your business problem and we help you define it further.</h3>

      <div class="contact__content">

        <div class="contact__col-l">
          nombre
        </div>

        <div class="contact__col-r">
          <a class="button button--primary button--small" href="#">Enviar</a>
        </div>

      </div>

    </div>
  </div>
</div>
