<footer class="footer">
  <div class="wrapper">
    <div class="u-inner-xlarge">

      <div class="footer__col-l">
        <h5>
          {% include svg/address.svg css-class="icon icon--small" %}
          Ubicación
        </h5>
        <p class="text text--small">
          <a href="https://goo.gl/maps/Nf5eoogtrDn" target="_blank">
            C/ Còrsega 329, 7-B<br>
            08037 Barcelona, España.
          </a>
        </p>
      </div>

      <div class="footer__col-l">
        <h5>
          {% include svg/contact.svg css-class="icon icon--small" %}
          Contactar
        </h5>
        <p class="text text--small">
          <a href="mailto:info@themountdata.com">info@themountdata.com</a>
          <br>
          <a href="tel:34123456789">123 456 789</a>
        </p>
      </div>

      <nav class="footer__col-r">
        {% include nav-social.html %}
      </nav>

    </div>
  </div>
</footer>
