<footer class="footer">
  <div class="wrapper">

    <div class="footer__col-l">
      <!-- TODO : Replace for heading -->
      <p class="text">
        {% include svg/address.svg css-class="icon icon--small" %}
        Ubicación
      </p>
      <!-- /TODO : Replace for heading -->
      <p class="text">
        <a href="#" target="_blank">
          C/ Còrsega 329, 7-B<br>
          08037 Barcelona, España.
        </a>
      </p>
    </div>

    <div class="footer__col-l">
      <!-- TODO : Replace for heading -->
      <p class="text">
        {% include svg/contact.svg css-class="icon icon--small" %}
        Contactar
      </p>
      <!-- /TODO : Replace for heading -->
      <p class="text">
        <a href="mailto:info@themountdata.com">info@themountdata.com</a>
        <br>
        <a href="tel:34123456789">123 456 789</a>
      </p>
    </div>

    <div class="footer__col-r">
      {% include nav-social.html %}
    </nav>

  </div>
</footer>
