// Mixins
// -----------------------------------------------------------------------------

// Reset button
@mixin button-reset() {
  background: none;
  border: 0;
  outline: none;
  cursor: pointer;
}

// Center-align a block level element
@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Clear of floats
@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Column generation
@mixin col($wd, $ta) {
  width: $wd;
  text-align: $ta;
}

// Headings
@mixin heading($fz, $fw, $c) {
  font-family: $ff-sans-serif-m;
  line-height: $lh-small;
  font-size: $fz;
  font-weight: $fw;
  color: $c;
}

// Responsive image
// Keep images from scaling beyond the width of their parents
//
// 1. Set a maximum relative to the parent
// 2. Scale the height according to the width, otherwise you get stretching
//
@mixin img-responsive($dp: block) {
  display: $dp;
  max-width: 100%; // 1
  height: auto; // 2
}

// Link generation with states
@mixin link($c, $c-hover) {
  color: $c;
  transition: $transition-c;

  &:visited {
    color: $c;
  }

  &:hover {
    color: $c-hover;
  }

  &:active {
    color: $c;
  }
}

// Margins
// @mixin margin($mr-property, $mr-value) {
//   margin-#{$mr-property}: $mr-value;
// }

// Sizing shortcuts
@mixin size($wd, $ht) {
  width: $wd;
  height: $ht;
}

// WebKit-style focus
//
// 1. Default
// 2. WebKit
//
@mixin tab-focus() {
  outline: thin dotted; // 1
  outline: 5px auto -webkit-focus-ring-color; // 2
  outline-offset: -2px; // 2
}

// Reset default list styles
@mixin list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Turns list items into inline-block
@mixin list-inline($pdl: $sp-base, $pdr: $sp-base) {
  @include list-reset;

  > li {
    display: inline-block;
    padding-left: $pdl;
    padding-right: $pdr;
  }
}

// Turns list items into inline-block
// Also removes padding from first and last items
@mixin list-inline-first-last($pdl: $sp-base, $pdr: $sp-base) {
  @include list-reset;

  > li {
    display: inline-block;
    padding-left: $pdl;
    padding-right: $pdr;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

// Turns list items into inline-block
// Also adds dashes "-" between list items
@mixin list-inline-dashed($pdl: $sp-base, $pdr: $sp-base) {
  @include list-reset;

  > li {
    position: relative;
    display: inline-block;
    padding-left: $pdl;
    padding-right: $pdr;

    &:before {
      content: '-';
      position: absolute;
      top: 0;
      left: -$sp-base;
    }

    &:first-child:before {
      content: none;
    }
  }
}

// Turns list items into inline-block
// Also adds pipes "|" between list items
@mixin list-inline-pipped($pdl: $sp-base, $pdr: $sp-base) {
  @include list-reset;

  > li {
    position: relative;
    display: inline-block;
    padding-left: $pdl;
    padding-right: $pdr;

    &:before {
      content: '';
      position: absolute;
      top: $sp-base;
      left: 0;
      width: 1px;
      height: $sp-small;
      background-color: $c-java;
    }

    &:first-child:before {
      content: none;
    }
  }
}

// Positioner
@mixin positioner($po, $po-wd, $po-ht, $po-v-property, $po-v-value, $po-h-property, $po-h-value, $po-zi: auto) {
  position: $po;
  width: $po-wd;
  height: $po-ht;
  #{$po-v-property}: $po-v-value;
  #{$po-h-property}: $po-h-value;
  z-index: $po-zi;
}

// Positioner for horizontal centering
// @mixin positioner-center-h($wd, $ht) {
//   position: absolute;
//   width: $wd;
//   height: $ht;
//   left: 50%;
//   margin-left: -($wd / 2);
// }

// Vertical rhythm
// Set `margin-bottom` to maintain vertical rhythm
@mixin vertical-rhythm($sp: $sp-small) {
  margin-top: 0;
  margin-bottom: $sp-small;
}
