// Variables
// -----------------------------------------------------------------------------
// Naming conventions used for variables inspired by [ZenCSSProperties]
//
// Some of the prefixes used:
// * b = border
// * bg = background;
// * c = color
// * ff = font-family
// * fz = font-size

// Base
// -----------------------------------------------------------------------------

// Colors
$c-dark:                 #282b33 !default;
$c-light:                #fff !default;

$c-java:                 #21b7ca !default;
$c-lynch:                #606c8c !default;
$c-chetwode:             #869fe1 !default;
$c-fiord:                #434f70 !default;
$c-eastbay:              #455378 !default;
$c-lilac:                #eef0f8 !default;

// Scaffolding
$assets-path:            "/assets" !default;

$body-bgc:               $c-light !default;

$text-c:                 $c-dark !default;

$link-c:                 $c-java !default;
$link-c-hover:           red !default; // TODO: replace hover color

// Spacing units
$sp-base:                5px !default;

$sp-xxsmall:             floor($sp-base * 2) !default;  // 10px
$sp-xsmall:              floor($sp-base * 3) !default;  // 15px
$sp-small:               floor($sp-base * 4) !default;  // 20px
$sp-medium:              floor($sp-base * 5) !default;  // 25px
$sp-large:               floor($sp-base * 6) !default;  // 30px
$sp-xlarge:              floor($sp-base * 7) !default;  // 35px
$sp-xxlarge:             floor($sp-base * 8) !default;  // 40px
$sp-xxxlarge:            floor($sp-base * 9) !default;  // 45px
$sp-huge:                floor($sp-base * 12) !default; // 60px
$sp-giant:               floor($sp-base * 30) !default; // 150px

// Fonts
$ff-sans-serif-b:        'Barlow', sans-serif !default;
$ff-sans-serif-m:        'Montserrat', sans-serif !default;
$ff-base:                $ff-sans-serif-b !default;

$fz-base:                18px !default;
$fz-xsmall:              12px !default;
$fz-small:               14px !default;
$fz-medium:              22px !default;
$fz-large:               28px !default;
$fz-xlarge:              40px !default;
$fz-xxlarge:             70px !default;

$fw-base:                400 !default; // Barlow
$fw-light:               300 !default; // Barlow, Montserrat
$fw-semi-bold:           600 !default; // Barlow
$fw-bold:                700 !default; // Montserrat
$fw-extra-bold:          800 !default; // Montserrat

$lh-base:                1.5 !default;
$lh-xsmall:              1 !default;
$lh-small:               1.25 !default;
// $lh-medium:              1.75 !default;
$lh-large:               2 !default;
$lh-xlarge:              2.5 !default;

// Media queries
$screen-sm-min:          480px !default;
$screen-md-min:          768px !default;
$screen-lg-min:          992px !default;
$screen-xl-min:          1200px !default;
$screen-xxl-min:         1440px !default;

$small-up:               "min-width:#{$screen-sm-min}" !default;
$medium-up:              "min-width:#{$screen-md-min}" !default;
$large-up:               "min-width:#{$screen-lg-min}" !default;
$xlarge-up:              "min-width:#{$screen-xl-min}" !default;
$xxlarge-up:             "min-width:#{$screen-xxl-min}" !default;

// Transitions
$transition-c:           color 250ms !default;
$transition-bgc:         background-color 250ms !default;


// Patterns
// -----------------------------------------------------------------------------

// Footer
$footer-wd:                       100% !default;
$footer-ht:                       auto !default;
$footer-c:                        $c-dark !default;
$footer-bg:                       $c-light !default;

// Footer legal
$footer-legal-wd:                 100% !default;
$footer-legal-ht:                 auto !default;
$footer-legal-c:                  $c-dark !default;
$footer-legal-bg:                 $c-lilac !default;

// Helpers
$u-inner-pdv:                     $sp-small !default;
$u-inner-pdh:                     $sp-small !default;
$u-inner-pdv-medium-up:           $sp-xxlarge !default;
$u-inner-pdh-medium-up:           $sp-huge !default;

$u-inner-small-pd:                $sp-small !default;
$u-inner-small-pd-medium-up:      $sp-small $sp-huge !default;

$u-inner-large-pd:                $sp-small !default;
$u-inner-large-pd-medium-up:      $sp-giant $sp-huge $sp-xxlarge !default;

$u-inner-xlarge-pd:               $sp-giant $sp-small $sp-huge !default;
$u-inner-xlarge-pd-medium-up:     360px $sp-huge 0 !default;
$u-inner-xlarge-pd-large-up:      460px $sp-huge 0 !default;

// Header (should go after Helpers)
$header-brand-wd:                 $sp-giant !default;
$header-brand-ht:                 18px !default;
$header-brand-wd-medium-up:       floor($header-brand-wd * 2) !default;
$header-brand-ht-medium-up:       floor($header-brand-ht * 2) !default;

$header-nav-po:                   absolute !default;
$header-nav-wd:                   100% !default;
$header-nav-ht:                   auto !default;
$header-nav-bg:                   $c-eastbay !default;
$header-nav-po-medium-up:         static !default;
$header-nav-wd-medium-up:         auto !default;
$header-nav-ht-medium-up:         auto !default;
$header-nav-bg-medium-up:         transparent !default;
$header-nav-lh-medium-up:         $lh-xlarge !default;

$header-hamburger-wd:             auto !default;
$header-hamburger-ht:             auto !default;
$header-hamburger-pd:             $sp-xsmall $sp-small !default;
$header-hamburger-c:              $c-java !default;
$header-hamburger-bg:             $c-eastbay !default;

$header-wd:                       100% !default;
$header-ht:                       floor($header-brand-ht + ($u-inner-pdv * 2)) !default;
$header-wd-medium-up:             $header-wd !default;
$header-ht-medium-up:             floor($header-brand-ht-medium-up + ($u-inner-pdv-medium-up * 2)) !default;
$header-bg:                       $c-light !default;
$header-bg-medium-up:             $c-light !default;

$header-bg-transparent:           $header-bg !default;
$header-bg-transparent-medium-up: transparent !default;

// Hero video
$hero-video-wd:                   100% !default;
$hero-video-ht:                   auto !default;
$hero-video-wd-medium-up:         100% !default;
$hero-video-ht-medium-up:         780px !default;
$hero-video-bgc:                  $c-eastbay !default;

// Navigation legal
$nav-legal-c:                     $c-dark !default;
$nav-legal-c-hover:               red !default; // TODO: replace hover color

// Navigation main
$nav-main-c:                      $c-lynch !default;
$nav-main-c-hover:                red !default; // TODO: replace hover color

$nav-main-c-transparent:          $c-light !default;
$nav-main-c-transparent-hover:    red !default; // TODO: replace hover color
