// Variables
// -----------------------------------------------------------------------------
// Naming conventions used for variables inspired by [ZenCSSProperties]
//
// Some of the prefixes used:
// * b = border
// * bg = background;
// * c = color
// * ff = font-family
// * fz = font-size

// Base
// -----------------------------------------------------------------------------

// Borders
$br-small:               1px !default;
$br-base:                2px !default;

// Border radius
$brr-small:              2px !default;
$brr-base:               3px !default;

// Colors
$c-dark:                 #282b33 !default;
$c-light:                #fff !default;

$c-java:                 #21b7ca !default;
$c-surfie:               #0c7987 !default;
$c-lynch:                #606c8c !default;
$c-chetwode:             #869fe1 !default;
$c-fiord:                #434f70 !default;
$c-eastbay:              #455378 !default;
$c-lilac:                #eef0f8 !default;

// Scaffolding
$assets-path:            "/assets" !default;

$body-bg:                $c-light !default;

$text-c:                 $c-dark !default;

$link-c:                 $c-java !default;
$link-c-hover:           red !default; // TODO: replace hover color

// Spacing units
$sp-base:                5px !default;

$sp-xxsmall:             floor($sp-base * 2) !default;  // 10px
$sp-xsmall:              floor($sp-base * 3) !default;  // 15px
$sp-small:               floor($sp-base * 4) !default;  // 20px
$sp-medium:              floor($sp-base * 5) !default;  // 25px
$sp-large:               floor($sp-base * 6) !default;  // 30px
$sp-xlarge:              floor($sp-base * 7) !default;  // 35px
$sp-xxlarge:             floor($sp-base * 8) !default;  // 40px
$sp-xxxlarge:            floor($sp-base * 9) !default;  // 45px
$sp-big:                 floor($sp-base * 12) !default; // 60px
$sp-huge:                floor($sp-base * 18) !default; // 90px
$sp-giant:               floor($sp-base * 30) !default; // 150px

// Fonts
$ff-sans-serif-b:        'Barlow', sans-serif !default;
$ff-sans-serif-m:        'Montserrat', sans-serif !default;
$ff-base:                $ff-sans-serif-b !default;

$fz-base:                18px !default;
$fz-xxsmall:             12px !default;
$fz-xsmall:              14px !default;
$fz-small:               16px !default;
$fz-medium:              22px !default;
$fz-large:               28px !default;
$fz-xlarge:              40px !default;
$fz-xxlarge:             70px !default;

$fw-base:                400 !default; // Barlow
$fw-extra-light:         200 !default; // Montserrat
$fw-light:               300 !default; // Barlow
$fw-semi-bold:           600 !default; // Barlow
$fw-bold:                700 !default; // Montserrat
$fw-extra-bold:          800 !default; // Montserrat

$lh-base:                1.5 !default;
$lh-xsmall:              1 !default;
$lh-small:               1.25 !default;
// $lh-medium:              1.75 !default;
$lh-large:               2 !default;
$lh-xlarge:              2.5 !default;

// Media queries
$screen-sm-min:          480px !default;
$screen-md-min:          768px !default;
$screen-lg-min:          992px !default;
$screen-xl-min:          1200px !default;
$screen-xxl-min:         1440px !default;

$small-up:               "min-width:#{$screen-sm-min}" !default;
$medium-up:              "min-width:#{$screen-md-min}" !default;
$large-up:               "min-width:#{$screen-lg-min}" !default;
$xlarge-up:              "min-width:#{$screen-xl-min}" !default;
$xxlarge-up:             "min-width:#{$screen-xxl-min}" !default;

// Transitions
$transition-c:           color 250ms !default;
$transition-bg:          background-color 250ms !default;
$transition-all:         all 250ms !default;


// Helpers
// -----------------------------------------------------------------------------
$u-inner-xsmall-pd:               $sp-small !default;
$u-inner-xsmall-pd-medium-up:     $sp-small $sp-big !default;

$u-inner-small-pdv:               $sp-small !default;
$u-inner-small-pdh:               $sp-small !default;
$u-inner-small-pdv-medium-up:     $sp-xxlarge !default;
$u-inner-small-pdh-medium-up:     $sp-big !default;

$u-inner-medium-pd:               $sp-xxlarge $sp-small !default;
$u-inner-medium-pd-medium-up:     80px $sp-big !default;

$u-inner-large-pd:                $sp-xxlarge $sp-small !default;
$u-inner-large-pd-medium-up:      80px $sp-giant !default;
$u-inner-large-pd-large-up:       80px 250px !default;

$u-inner-xlarge-pd:               $sp-small !default;
$u-inner-xlarge-pd-medium-up:     $sp-giant $sp-big $sp-xxlarge !default;

$u-inner-xxlarge-pd:              sp-giant $sp-small $sp-big !default;
$u-inner-xxlarge-pd-medium-up:    360px $sp-big 0 !default;
$u-inner-xxlarge-pd-large-up:     460px $sp-big 0 !default;


// Common
// -----------------------------------------------------------------------------

// Footer
$footer-wd:                       100% !default;
$footer-ht:                       auto !default;
$footer-c:                        $c-dark !default;
$footer-bg:                       $c-light !default;

// Footer legal
$footer-legal-wd:                 100% !default;
$footer-legal-ht:                 auto !default;
$footer-legal-c:                  $c-dark !default;
$footer-legal-bg:                 $c-lilac !default;

// Header (should go after Helpers)
$header-brand-wd:                 $sp-giant !default;
$header-brand-ht:                 18px !default;
$header-brand-wd-medium-up:       floor($header-brand-wd * 2) !default;
$header-brand-ht-medium-up:       floor($header-brand-ht * 2) !default;

$header-nav-po:                   absolute !default;
$header-nav-wd:                   100% !default;
$header-nav-ht:                   auto !default;
$header-nav-bg:                   $c-eastbay !default;
$header-nav-po-medium-up:         static !default;
$header-nav-wd-medium-up:         auto !default;
$header-nav-ht-medium-up:         auto !default;
$header-nav-bg-medium-up:         transparent !default;
$header-nav-lh-medium-up:         $lh-xlarge !default;

$header-wd:                       100% !default;
$header-ht:                       floor($header-brand-ht + ($u-inner-small-pdv * 2)) !default;
$header-wd-medium-up:             $header-wd !default;
$header-ht-medium-up:             floor($header-brand-ht-medium-up + ($u-inner-small-pdv-medium-up * 2)) !default;
$header-bg:                       $c-light !default;
$header-bg-medium-up:             $c-light !default;

$header-bg-transparent:           $header-bg !default;
$header-bg-transparent-medium-up: transparent !default;

$header-hamburger-wd:             $header-ht !default;
$header-hamburger-ht:             $header-ht !default;
$header-hamburger-c:              $c-java !default;
$header-hamburger-bg:             $c-eastbay !default;


// Patterns
// -----------------------------------------------------------------------------

// Button base
$button-pd:                       $sp-medium 120px !default;
$button-ff:                       $ff-sans-serif-m !default;
$button-fz:                       $fz-base !default;
$button-fw:                       $fw-bold !default;
$button-lh:                       $lh-base !default;
$button-brr:                      $brr-base !default;
$button-trn:                      $transition-all !default;

// Button type: primary
$button-primary-bg:               transparent !default;
$button-primary-br:               $br-base solid $c-java !default;
$button-primary-c:                $c-java !default;
$button-primary-td:               none !default;

$button-primary-visited-bg:       $button-primary-bg !default;
$button-primary-visited-br:       $button-primary-br !default;
$button-primary-visited-c:        $button-primary-c !default;
$button-primary-visited-td:       $button-primary-td !default;

$button-primary-hover-bg:         transparent !default;
$button-primary-hover-br:         $br-base solid $c-light !default;
$button-primary-hover-c:          $c-light;
$button-primary-hover-td:         none !default;

$button-primary-active-bg:        transparent !default;
$button-primary-active-br:        $br-base solid $c-surfie !default;
$button-primary-active-c:         $c-surfie;
$button-primary-active-td:        none !default;

// Button type: secondary
$button-secondary-bg:             transparent !default;
$button-secondary-br:             $br-base solid $c-light !default;
$button-secondary-c:              $c-light !default;
$button-secondary-td:             none !default;

$button-secondary-visited-bg:     $button-secondary-c !default;
$button-secondary-visited-br:     $button-secondary-br !default;
$button-secondary-visited-c:      $button-secondary-c !default;
$button-secondary-visited-td:     $button-secondary-td !default;

$button-secondary-hover-bg:       $c-chetwode !default;
$button-secondary-hover-br:       $br-base solid $c-light !default;
$button-secondary-hover-c:        $c-light !default;
$button-secondary-hover-td:       none !default;

$button-secondary-active-bg:      $c-light !default;
$button-secondary-active-br:      $br-base solid $c-light !default;
$button-secondary-active-c:       $c-java !default;
$button-secondary-active-td:      none !default;

// Button size
$button-xxsmall-pd:               $sp-xsmall $sp-xxlarge !default;
$button-xxsmall-fz:               $fz-xxsmall !default;

$button-small-pd:                 $sp-small 100px !default;
$button-small-fz:                 $fz-small !default;

// Button state
$button-disabled-o:               .5 !default;

// Forms
$form-label-mb:                   $sp-xxsmall !default;
$form-label-ff:                   $ff-sans-serif-b !default;
$form-label-fz:                   $fz-xxsmall !default;
$form-label-fw:                   $fw-semi-bold !default;
$form-label-c:                    $text-c !default;

$form-field-ht:                   $sp-large !default;
$form-field-mb:                   $sp-big !default;
$form-field-pd:                   $sp-base $sp-xxsmall !default;
$form-field-ff:                   $ff-sans-serif-b !default;
$form-field-fz:                   $fz-base !default;
$form-field-fw:                   $fw-light !default;
$form-field-c:                    $c-light !default;

$form-textarea-ht:                148px !default;

// Hero video
$hero-video-wd:                   100% !default;
$hero-video-ht:                   auto !default;
$hero-video-wd-medium-up:         100% !default;
$hero-video-ht-medium-up:         780px !default;
$hero-video-bg:                   $c-eastbay !default;

// Navigation legal
$nav-legal-c:                     $c-dark !default;
$nav-legal-c-hover:               red !default; // TODO : replace hover color

// Navigation main
$nav-main-c:                      $c-lynch !default;
$nav-main-c-hover:                red !default; // TODO : replace hover color

$nav-main-c-transparent:          $c-light !default;
$nav-main-c-transparent-hover:    red !default; // TODO : replace hover color
