// Utility classes
// -----------------------------------------------------------------------------

// Center-align a block level element
.u-center-block {
  @include center-block;
}

// Clear of floats
.u-clearfix {
  @include clearfix;
}

// Inners
.u-inner-xsmall {
  padding: $u-inner-xsmall-pd;

  @media ($medium-up) {
    padding: $u-inner-xsmall-pd-medium-up;
  }
}

.u-inner-small {
  padding: $u-inner-small-pdv $u-inner-small-pdh;

  @media ($medium-up) {
    padding: $u-inner-small-pdv-medium-up $u-inner-small-pdh-medium-up;
  }
}

.u-inner-medium {
  padding: $u-inner-medium-pd;

  @media ($medium-up) {
    padding: $u-inner-medium-pd-medium-up;
  }
}

.u-inner-large {
  padding: $u-inner-large-pd;

  @media ($medium-up) {
    padding: $u-inner-large-pd-medium-up;
  }

  @media ($large-up) {
    padding: $u-inner-large-pd-large-up;
  }
}

.u-inner-xlarge {
  padding: $u-inner-xlarge-pd;

  @media ($medium-up) {
    padding: $u-inner-xlarge-pd-medium-up;
  }
}

.u-inner-xxlarge {
  padding: $u-inner-xxlarge-pd;

  @media ($medium-up) {
    padding: $u-inner-xxlarge-pd-medium-up;
  }

  @media ($large-up) {
    padding: $u-inner-xxlarge-pd-large-up;
  }
}

// Margins
// .u-mb-xxl {
//   @include margin(bottom, $sp-xxlarge);
// }
//
// .u-mr-base {
//   @include margin(right, $sp-base);
// }

// Responsive images (ensure images don't scale beyond their parents)
.u-img-responsive {
  @include img-responsive;
}

// Text
.u-text-center {
  text-align: center;
}

// .u-text-lowercase {
//   text-transform: lowercase;
// }

.u-text-uppercase {
  text-transform: uppercase;
}

// Visibility
.is-small-hidden {
  display: none;

  @media ($medium-up) {
    display: block;
  }
}

.is-medium-hidden {
  display: block;

  @media ($medium-up) {
    display: none;
  }
}
