<div id="cookie-message" class="cookie-message">
  <div class="wrapper">
    <div class="u-inner-xsmall">

      <p class="text text--cookie-message">
        {{ site.t[page.lang]cookie_message.text }}
        <a href="#" id="modal-trigger-cookie-message">{{ site.t[page.lang]cookie_message.text_link }}</a>
      </p>

      <button id="cookie-message-close" class="button button--icon">
        {% include icons/close.svg css-class="icon icon--close" %}
      </button>

    </div>
  </div>
</div>
