<footer class="footer">
  <div class="wrapper">
    <div class="u-inner-xlarge">

      <div class="footer__col-l">
        <h6 class="heading6 footer__heading">
          {% include icons/address.svg css-class="icon icon--small" %}
          <span class="footer__heading__address">Ubicación</span>
        </h6>
        <p class="text text--small">
          <a href="https://goo.gl/maps/Nf5eoogtrDn" target="_blank">
            C/ Còrsega 329, 7-B<br>
            08037 Barcelona, España.
          </a>
        </p>
      </div>

      <div class="footer__col-l">
        <h6 class="heading6 footer__heading">
          {% include icons/contact.svg css-class="icon icon--small" %}
          <span class="footer__heading__contact">Contactar</span>
        </h6>
        <p class="text text--small">
          <a href="mailto:info@themountdata.com">info@themountdata.com</a>
          <br>
          <a href="tel:34938805368">938 805 368</a>
        </p>
      </div>

      <nav class="footer__col-r">
        {% include patterns/nav-social.html %}
      </nav>

    </div>
  </div>
</footer>
