<header id="header" class="header" role="banner">
  <div class="wrapper">
    <div class="u-inner-xsmall">

      <div class="header__brand">
        <a rel="author" href="{{ site.baseurl }}/{{ site.t_header[page.lang].home_link }}">
          {% include icons/brand.svg css-class="icon icon--brand" %}
        </a>
      </div>

      <nav id="header-nav" class="header__nav is-small-hidden">
        {% include patterns/nav-main.html %}
        {% include patterns/nav-lang.html %}
      </nav>

      <button id="header-hamburger" class="header__hamburger is-medium-hidden">
        {% include icons/hamburger.svg css-class="icon icon--hamburger" %}
      </button>

    </div>
  </div>
</header>
