<header id="header" class="header is-transparent" role="banner">
  <div class="wrapper">
    <div class="u-inner-xsmall">

      <div class="header__brand">
        <a rel="author" href="{{ "/" | relative_url }}">
          {% include svg/brand-light.svg css-class="icon icon--brand" %}
        </a>
      </div>

      <nav id="header-nav" class="header__nav is-small-hidden">
        {% include nav-main.html %}
      </nav>

      <button id="header-hamburger" class="header__hamburger is-medium-hidden">
        &#9776;
      </button>

    </div>
  </div>
</header>
