<div id="modal-cookie" class="modal modal--centered is-hidden" tabindex="-1" role="dialog">
  <div class="modal__dialog" role="document">
    <div class="modal__content">
      <div class="modal__header">
        <button class="button button--icon js-modal-close">
          {% include icons/close.svg css-class="icon icon--close" %}
        </button>
      </div>
      <div class="modal__body">
        <h5 class="heading2 heading2--light">{{ site.t_modal_cookie[page.lang].heading }}</h5>
        <p class="text text--mischka">{{ site.t_modal_cookie[page.lang].text }}</p>
      </div>
    </div>
  </div>
</div>
