<!DOCTYPE html>
<html class="no-js" lang="{{ page.lang | default: site.lang | default: "es" }}">

  {% include common/head.html %}

  <body>

    {% include common/header.html %}
    {% include common/content.html %}
    {% include common/footer.html %}
    {% include common/footer-legal.html %}
    {% include common/cookie-message.html %}
    {% include common/modal-cookie.html %}
    {% include common/modal-privacy.html %}
    {% include common/modal-terms.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      // If jQuery is not initialized (CDN is down), load from local source
      if (typeof jQuery === 'undefined') {
        document.write(unescape('%3Cscript src="{{ site.baseurl }}/assets/scripts/jquery-3.3.1.min.js"%3E%3C/script%3E'));
      }
    </script>
    <script src="{{ site.baseurl }}/assets/scripts/main.js"></script>

  </body>

</html>
