// Heading
// -----------------------------------------------------------------------------

// h1
h1,
.heading1 {
  @include heading(
    $ff-sans-serif-m,
    $fz-xlarge,
    $fw-extra-bold,
    $lh-small,
    $c-dark,
    none,
    normal
  );

  @media ($medium-up) {
    font-size: $fz-xxlarge;
  }
}

// h2
h2,
.heading2 {
  @include heading(
    $ff-sans-serif-m,
    $fz-xlarge,
    $fw-extra-light,
    $lh-small,
    $c-java,
    uppercase,
    normal
  );
}

.heading2--light {
  color: $c-light;
}

// h3
h3,
.heading3 {
  @include heading(
    $ff-sans-serif-m,
    $fz-medium,
    $fw-extra-light,
    $lh-small,
    $c-chetwode,
    uppercase,
    normal
  );
}

.heading3--hr {
  padding-bottom: $sp-medium;
  border-bottom: $br-small solid $c-lynch;
  margin-bottom: $sp-xxlarge;
}

.heading3--light {
  color: $c-light;

  &.heading3--hr {
    border-bottom-color: $c-jaggedice;
  }
}

// h4
h4,
.heading4 {
  @include heading(
    $ff-sans-serif-b,
    $fz-medium,
    $fw-light,
    $lh-small,
    $c-java,
    none,
    italic
  );
}

// h5
h5,
.heading5 {
  @include heading(
    $ff-sans-serif-m,
    $fz-xsmall,
    $fw-bold,
    $lh-large,
    $c-java,
    uppercase,
    normal
  );
}

.heading5--java {
  padding: $sp-large;
  color: $c-light;
  background-color: $c-java;
}

// h6
h6,
.heading6 {
  @include heading(
    $ff-sans-serif-m,
    $fz-xsmall,
    $fw-bold,
    $lh-small,
    $c-dark,
    uppercase,
    normal
  );
}
