// Scaffolding
// -----------------------------------------------------------------------------

// Reset box-sizing
*,
*:before,
*:after {
  box-sizing: border-box;
}

// Basic styling
body {
  font-family: $ff-base;
  font-size: $fz-base;
  font-weight: $fw-base;
  line-height: $lh-base;
  color: $text-c;
  background-color: $body-bgc;
}

// Headings
h1, .h1 {
  @include heading($fz-xlarge, $fw-extra-bold, $c-dark);

  @media ($medium-up) {
    font-size: $fz-xxlarge;
  }
}

h2, .h2 {
  @include heading($fz-xlarge, $fw-extra-light, $c-java);
  text-transform: uppercase;
}

h3, .h3 {
  @include heading($fz-medium, $fw-extra-light, $c-chetwode);
  text-transform: uppercase;
}

h4, .h4 {
  @include heading($fz-base, $fw-bold, $c-dark);
}

h5, .h5 {
  @include heading($fz-xsmall, $fw-bold, $c-dark);
  text-transform: uppercase;
}

h6, .h6 {
  @include heading($fz-xxsmall, $fw-bold, $c-dark);
}

// Images
img {
  vertical-align: middle;
}

// Links
a {
  @include link($link-c, $link-c-hover);
  text-decoration: none;

  &:focus {
    @include tab-focus;
  }
}

// Lists
ul, ol {
  margin-left: 0;
  padding-left: $sp-small;
}

// Main
// Default value of `display` of `main` element is 'inline' in IE 11
main {
  display: block;
}

// Vertical rhythm
// Set `margin-bottom` to maintain vertical rhythm
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  @include vertical-rhythm;
}

// Wrapper
.wrapper {
  @include center-block;

  @media ($large-up) {
    max-width: $screen-xl-min;
  }

  @media ($xlarge-up) {
    max-width: $screen-xxl-min;
  }
}
