// Scaffolding
// -----------------------------------------------------------------------------

// Reset box-sizing
*,
*:before,
*:after {
  box-sizing: border-box;
}

// Basic styling
body {
  margin-top: $body-mt;
  font-family: $ff-base;
  font-size: $fz-base;
  font-weight: $fw-base;
  line-height: $lh-base;
  color: $text-c;
  background-color: $body-bg;

  @media ($medium-up) {
    margin-top: $body-mt-medium-up;
  }

  // When `is-cookie-message` class, `body` is repositioned
  &.is-cookie-message {
    margin-top: $body-is-cookie-mt;

    @media ($medium-up) {
      margin-top: $body-is-cookie-mt-medium-up;
    }
  }

  // When `is-modal-open` class, `body` scroll is removed so that modal
  // content scrolls instead
  &.is-modal-open {
    overflow: hidden;
  }
}

// Font weight
b,
strong {
  font-weight: $fw-bold;
}

// Images
img {
  vertical-align: middle;
}

// Links
a {
  @include link($link-c, $link-c-hover);
  text-decoration: none;

  &:focus {
    @include tab-focus;
  }
}

// Lists
ul, ol {
  margin-left: 0;
  padding-left: $sp-small;
}

// Main
// Default value of `display` of `main` element is 'inline' in IE 11
main {
  display: block;
}

// Vertical rhythm
// Set `margin-bottom` to maintain vertical rhythm
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  @include vertical-rhythm;
}

// Wrapper
.wrapper {
  @include center-block;

  @media ($large-up) {
    max-width: $screen-xl-min;
  }

  @media ($xlarge-up) {
    max-width: $screen-xxl-min;
  }
}
