// Text
// -----------------------------------------------------------------------------

.text {
  font-family: $ff-sans-serif-b;
  font-size: $fz-base;

  &:only-of-type,
  &:only-child,
  &:last-child {
    margin-bottom: 0;
  }

  > a {
    font-weight: $fw-semi-bold;
  }

  &--small {
    font-size: $fz-small;
  }

  &--cookie {
    font-size: $fz-xsmall;
    color: $c-light;

    > a {
      @include link($c-light, $c-mischka);
      text-decoration: underline;
      text-transform: uppercase;
      font-weight: $fw-base;
    }
  }

  &--fiord {
    color: $c-fiord;
  }

  &--light {
    color: $c-light;
  }
}
